
@{
    Layout = "~/Views/Shared/_NoLayout.cshtml";
}

<body ng-controller="PasswordResetCtrl">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center">
                                <h3><i class="fa fa-lock fa-4x"></i></h3>
                                <h2 class="text-center">Reset Password?</h2>
                                <div class="panel-body">

                                    <form class="form">
                                        <fieldset>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                                    <input id="password" placeholder="password" ng-model="password" class="form-control" type="text" required="">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                                    <input id="password" placeholder="confirmpassword" ng-model="confirmpassword" class="form-control" type="text" required="">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <span class="btn btn-lg btn-primary btn-block" ng-click="Submit()" ng-disabled="savingRequest">
                                                    Submit
                                                    <i class="fa fa-spinner fa-spin" ng-show="savingRequest"></i>
                                                </span>
                                            </div>
                                        </fieldset>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

@section Scripts{
    <script type="text/javascript">

        myApp.controller('PasswordResetCtrl', function ($scope, $rootScope, $filter, NetworkService) {

            $scope.Submit = function () {
                $scope.savingRequest = true;

                NetworkService.get('Account/ChangedPassword?password=' + $scope.password + '&guid=@ViewBag.Guid').success(function (data) {

                    swal({
                        title: "Password has been changed successfully !!!",
                        text: "Press Ok to Continue.",
                        type: "success",
                        confirmButtonColor: "green",
                        showCancelButton: false,
                        closeOnConfirm: false,
                        closeOnCancel: false
                    },
                    function (isConfirm) {
                        window.location = '@Url.Content("~/Account/Login")';
    }
                    );
                    $scope.savingRequest = false;

                }).error(function (data) {
                    $scope.savingRequest = false;

                    swal({
                        title: data,
                        text: "Press Ok to Continue.",
                        type: "error",
                        confirmButtonColor: "red",
                        showCancelButton: false,
                    });
                });
            }
        });
    </script>
}