
@{
    ViewBag.Title = "StandaredDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">

    <ol class="breadcrumb breadcrumb-bg-teal align-right">
        <li><a href="@Url.Action("Dashboard", "InstitutionAdmin")"><i class="material-icons">home</i> Home</a></li>
        <li><i class="material-icons">home</i> Standards</li>
    </ol>

    <!-- Counter Examples -->
    <div class="container-fluid">
        <div class="block-header">

        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="body bg-red">
                        <a href="teacher_list.html"><h2 style="text-align:center;"> View Teacher's List</h2></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="body bg-cyan">
                        <a href="student_list.html"><h2 style="text-align:center;"> View Student's List</h2></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Counter Examples -->
    </div>

</section>
