
@{
    ViewBag.Title = "SchoolStandared";
    Layout = "~/Views/Shared/_SchoolLayout.cshtml";
}

<section class="content">

    <ol class="breadcrumb breadcrumb-bg-teal align-right">
        <li><a href="index.html"><i class="material-icons">home</i> Home</a></li>
        <li><i class="material-icons">home</i> Standards</li>
    </ol>

    <!-- Counter Examples -->
    <div class="container-fluid">
        <div class="block-header">
            <h2>
                Number Of Students in Each Standard
            </h2>
        </div>
        <div class="row">
            <a href="select_view.html">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-red">
                        <div class="icon">
                            <i class="material-icons">account_circle</i>
                        </div>
                        <div class="content">
                            <div class="text">5th STD</div>
                            <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">125</div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="select_view.html">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-green">
                        <div class="icon">
                            <i class="material-icons">account_circle</i>
                        </div>
                        <div class="content">
                            <div class="text">6th STD</div>
                            <div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20">257</div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="select_view.html">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-yellow">
                        <div class="icon">
                            <i class="material-icons">account_circle</i>
                        </div>
                        <div class="content">
                            <div class="text">7th STD</div>
                            <div class="number count-to" data-from="0" data-to="117" data-speed="1000" data-fresh-interval="20">145</div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="select_view.html">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-pink">
                        <div class="icon">
                            <i class="material-icons">account_circle</i>
                        </div>
                        <div class="content">
                            <div class="text">8th STD</div>
                            <div class="number count-to" data-from="0" data-to="1432" data-speed="1500" data-fresh-interval="20">150</div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="select_view.html">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-teal">
                        <div class="icon">
                            <i class="material-icons">account_circle</i>
                        </div>
                        <div class="content">
                            <div class="text">9th STD</div>
                            <div class="number count-to" data-from="0" data-to="1432" data-speed="1500" data-fresh-interval="20">170</div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="select_view.html">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-blue">
                        <div class="icon">
                            <i class="material-icons">account_circle</i>
                        </div>
                        <div class="content">
                            <div class="text">10th STD</div>
                            <div class="number count-to" data-from="0" data-to="1432" data-speed="1500" data-fresh-interval="20">200</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- #END# Counter Examples -->
    </div>

</section>
