
@{
    ViewBag.Title = "ViewStudent";
    Layout = "~/Views/Shared/_SchoolLayout.cshtml";
}

<style>
    #panel {
        padding: 50px;
        display: none;
    }
</style>
<section class="content">
    <ol class="breadcrumb breadcrumb-bg-teal align-right">
        <li><a href="index.html"><i class="material-icons">home</i> Home</a></li>
        <li><i class="material-icons">remove_red_eye</i> View Student</li>
    </ol>
    <div class="container-fluid">

        <!-- Basic Examples -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            View Student
                        </h2>
                    </div>
                    <div class="body">
                        <form>
                            <label for="heard">Select Standard</label>
                            <select id="heard" class="form-control" required>
                                <option value="">Choose..</option>
                                <option value="press">class 1</option>
                                <option value="net">class 2</option>
                                <option value="mouth">class 3</option>
                            </select>
                            <label for="heard">Select Medium</label>
                            <select id="heard" class="form-control" required>
                                <option value="">Choose..</option>
                                <option value="press">Marathi</option>
                                <option value="mouth">English</option>
                            </select>
                            <br><br>
                            <a href="#" class="btn btn-info waves-effect" id="flip">Submit</a>
                        </form>
                        <div id="panel">

                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="myTable">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Phone No.</th>
                                        <th>Gender</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Phone No.</th>
                                        <th>Gender</th>
                                        <th>Status</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr>
                                        <td><a href="student_details.html">Shreyash Joshi</a></td>
                                        <td>shreyashjoshi@gmail.com</td>
                                        <td>9824567125</td>
                                        <td>Male</td>
                                        <td>Active</td>
                                    </tr>
                                    <tr>
                                        <td><a href="student_details.html">Shreyash Joshi</a></td>
                                        <td>shreyashjoshi@gmail.com</td>
                                        <td>9824567125</td>
                                        <td>Male</td>
                                        <td>Active</td>
                                    </tr>
                                    <tr>
                                        <td><a href="student_details.html">Shreyash Joshi</a></td>
                                        <td>shreyashjoshi@gmail.com</td>
                                        <td>9824567125</td>
                                        <td>Male</td>
                                        <td>Active</td>
                                    </tr>
                                    <tr>
                                        <td><a href="student_details.html">Shreyash Joshi</a></td>
                                        <td>shreyashjoshi@gmail.com</td>
                                        <td>9824567125</td>
                                        <td>Male</td>
                                        <td>Active</td>
                                    </tr>
                                    <tr>
                                        <td><a href="student_details.html">Shreyash Joshi</a></td>
                                        <td>shreyashjoshi@gmail.com</td>
                                        <td>9824567125</td>
                                        <td>Male</td>
                                        <td>Active</td>
                                    </tr>
                                    <tr>
                                        <td><a href="student_details.html">Shreyash Joshi</a></td>
                                        <td>shreyashjoshi@gmail.com</td>
                                        <td>9824567125</td>
                                        <td>Male</td>
                                        <td>Active</td>
                                    </tr>
                                    <tr>
                                        <td><a href="student_details.html">Shreyash Joshi</a></td>
                                        <td>shreyashjoshi@gmail.com</td>
                                        <td>9824567125</td>
                                        <td>Male</td>
                                        <td>Active</td>
                                    </tr>
                                    <tr>
                                        <td><a href="student_details.html">Shreyash Joshi</a></td>
                                        <td>shreyashjoshi@gmail.com</td>
                                        <td>9824567125</td>
                                        <td>Male</td>
                                        <td>Active</td>
                                    </tr>
                                    <tr>
                                        <td><a href="student_details.html">Shreyash Joshi</a></td>
                                        <td>shreyashjoshi@gmail.com</td>
                                        <td>9824567125</td>
                                        <td>Male</td>
                                        <td>Active</td>
                                    </tr>

                                    <tr>
                                        <td><a href="student_details.html">Shreyash Joshi</a></td>
                                        <td>shreyashjoshi@gmail.com</td>
                                        <td>9824567125</td>
                                        <td>Male</td>
                                        <td>Active</td>
                                    </tr>
                                    <tr>
                                        <td><a href="student_details.html">Shreyash Joshi</a></td>
                                        <td>shreyashjoshi@gmail.com</td>
                                        <td>9824567125</td>
                                        <td>Male</td>
                                        <td>Active</td>
                                    </tr>
                                    <tr>
                                        <td><a href="student_details.html">Shreyash Joshi</a></td>
                                        <td>shreyashjoshi@gmail.com</td>
                                        <td>9824567125</td>
                                        <td>Male</td>
                                        <td>Active</td>
                                    </tr>
                                    <tr>
                                        <td><a href="student_details.html">Shreyash Joshi</a></td>
                                        <td>shreyashjoshi@gmail.com</td>
                                        <td>9824567125</td>
                                        <td>Male</td>
                                        <td>Active</td>
                                    </tr>
                                    <tr>
                                        <td><a href="student_details.html">Shreyash Joshi</a></td>
                                        <td>shreyashjoshi@gmail.com</td>
                                        <td>9824567125</td>
                                        <td>Male</td>
                                        <td>Active</td>
                                    </tr>
                                    <tr>
                                        <td><a href="student_details.html">Shreyash Joshi</a></td>
                                        <td>shreyashjoshi@gmail.com</td>
                                        <td>9824567125</td>
                                        <td>Male</td>
                                        <td>Active</td>
                                    </tr>
                                    <tr>
                                        <td><a href="student_details.html">Shreyash Joshi</a></td>
                                        <td>shreyashjoshi@gmail.com</td>
                                        <td>9824567125</td>
                                        <td>Male</td>
                                        <td>Active</td>
                                    </tr>
                                    <tr>
                                        <td><a href="student_details.html">Shreyash Joshi</a></td>
                                        <td>shreyashjoshi@gmail.com</td>
                                        <td>9824567125</td>
                                        <td>Male</td>
                                        <td>Active</td>
                                    </tr>
                                    <tr>
                                        <td><a href="student_details.html">Shreyash Joshi</a></td>
                                        <td>shreyashjoshi@gmail.com</td>
                                        <td>9824567125</td>
                                        <td>Male</td>
                                        <td>Active</td>
                                    </tr>
                                    <tr>
                                        <td><a href="student_details.html">Shreyash Joshi</a></td>
                                        <td>shreyashjoshi@gmail.com</td>
                                        <td>9824567125</td>
                                        <td>Male</td>
                                        <td>Active</td>
                                    </tr>
                                    <tr>
                                        <td><a href="student_details.html">Shreyash Joshi</a></td>
                                        <td>shreyashjoshi@gmail.com</td>
                                        <td>9824567125</td>
                                        <td>Male</td>
                                        <td>Active</td>
                                    </tr>
                                    <tr>
                                        <td><a href="student_details.html">Shreyash Joshi</a></td>
                                        <td>shreyashjoshi@gmail.com</td>
                                        <td>9824567125</td>
                                        <td>Male</td>
                                        <td>Active</td>
                                    </tr>
                                    <tr>
                                        <td><a href="student_details.html">Shreyash Joshi</a></td>
                                        <td>shreyashjoshi@gmail.com</td>
                                        <td>9824567125</td>
                                        <td>Male</td>
                                        <td>Active</td>
                                    </tr>
                                    <tr>
                                        <td><a href="student_details.html">Shreyash Joshi</a></td>
                                        <td>shreyashjoshi@gmail.com</td>
                                        <td>9824567125</td>
                                        <td>Male</td>
                                        <td>Active</td>
                                    </tr>
                                    <tr>
                                        <td><a href="student_details.html">Shreyash Joshi</a></td>
                                        <td>shreyashjoshi@gmail.com</td>
                                        <td>9824567125</td>
                                        <td>Male</td>
                                        <td>Active</td>
                                    </tr>
                                    <tr>
                                        <td><a href="student_details.html">Shreyash Joshi</a></td>
                                        <td>shreyashjoshi@gmail.com</td>
                                        <td>9824567125</td>
                                        <td>Male</td>
                                        <td>Active</td>
                                    </tr>
                                    <tr>
                                        <td><a href="student_details.html">Shreyash Joshi</a></td>
                                        <td>shreyashjoshi@gmail.com</td>
                                        <td>9824567125</td>
                                        <td>Male</td>
                                        <td>Active</td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Basic Examples -->

    </div>
</section>

