
@{
    ViewBag.Title = "CheckMeaningoflesson";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="right_col" role="main">
    <div class="cont">
        <ol class="breadcrumb breadcrumb-bg-teal align-right">
            <li><a href="@Url.Action("Dashboard", "InstitutionTeacher")"><i class="material-icons">home</i> Home</a></li>
            <li><a href="#">Check Assignment</a></li>
            <li> Meaning Of Lesson</li>
        </ol>

        <div class="container-fluid">
            <!-- Vertical Layout -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Meaning Of Lesson
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                Active: Duration : ddd:hh:mm
                            </ul>
                        </div>
                        <div class="body">
                            <div class="body table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th>Title</th>
                                            <td>The Living World</td>
                                        </tr>

                                        <tr>
                                            <th>Summery/Meaning Of Lesson</th>
                                            <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Vertical Layout -->

        </div>
    </div>
</div>

