
@{
    ViewBag.Title = "CheckMatchTheFollowing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="right_col" role="main" ng-controller="TRUEFALSECtrl">
    <div class="cont">
        <ol class="breadcrumb breadcrumb-bg-teal align-right">
            <li><a href="@Url.Action("Dashboard", "InstitutionTeacher")"><i class="material-icons">home</i> Home</a></li>
            <li><a href="test_history.html">Check Assignment</a></li>
            <li>Match The Following</li>
        </ol>

        <div class="container-fluid">
            <!-- Vertical Layout -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Match The Following
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                Active: Duration : ddd:hh:mm
                            </ul>
                        </div>
                        <div class="body">
                            <div class="body table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th>Question</th>
                                            <th>Options</th>
                                            <th>Student's Answer</th>
                                            <th>Correct Answer</th>
                                            <th> Marks Obtained</th>

                                        </tr>
                                        <tr ng-repeat="qts in UserAssessmentList.Assessment">
                                            <td>{{$index+1}}. {{qts.UserAssessment.Question.Title}}</td>
                                            <td>{{qts.MatchQuestion}}</td>
                                            <td>{{qts.UserAssessment.Answer}}</td>
                                            <td>{{qts.UserAssessment.Question.CorrectAnswer}}</td>
                                            <td>{{qts.MarkScored}}</td>
                                        </tr>
                                        <tr>
                                            <td><b>Total Marks</b></td>
                                            <td colspan="3">{{UserAssessmentList.TotalMarksScored}}/{{UserAssessmentList.TotalMarks}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Vertical Layout -->

        </div>
    </div>
</div>


@section Scripts{

    <script type="text/javascript">
        myApp.controller('TRUEFALSECtrl', function ($scope, $rootScope, $filter, NetworkService, $timeout) {
            var formdata = new FormData();


            NetworkService.get('PraescioCommon/GetStudentAssessment?assignmentid=@ViewBag.Assignmentid&studendid=@ViewBag.userid&questiontypeid=@Convert.ToInt16(Praescio.BusinessEntities.Common.TypeOfQuestion.TrueFalse)').success(function (data) {
                $scope.UserAssessmentList = data;
            });

        });
    </script>
}
