################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/Praescio/bin
/Praescio/obj
/Praescio.API/bin
/Praescio.API/obj
/Praescio.BusinessEntities/bin
/Praescio.BusinessEntities/obj
/Praescio.Domain/bin
/Praescio.Domain/obj
/Praescio/Upload/RequestUpload
/Publish
