@using Praescio.BusinessEntities.Common
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="right_col" role="main" ng-controller="AdminDashboardCtrl">
    <div class="">
      <div class="row clearfix">

        <div class="market-updates">
          <div class="col-md-3 market-update-gd">
            <a href="@Url.Action("CreativityUploads", "Parents")">
              <div class="market-update-block clr-block-2">
                <div class="col-md-12 market-update-left">
                  <h4>Creativity Uploads</h4>
                </div>
                <div class="clearfix"> </div>
              </div>
            </a>
          </div>
          <div class="col-md-3 market-update-gd">
            <a href="@Url.Action("Help", "Praescio")">
              <div class="market-update-block clr-block-1">
                <div class="col-md-12 market-update-left">
                  <h4>Notice</h4>
                </div>
                <div class="clearfix"> </div>
              </div>
            </a>
          </div>
          <div class="col-md-3 market-update-gd">
            <a href="@Url.Action("StudentProfile", "InstitutionStudent")?StudentAccountId=@Praescio.Models.Common.STUDENTACCOUNT.AccountId">
              <div class="market-update-block clr-block-3">
                <div class="col-md-12 market-update-left">
                  <h4>Student Profile</h4>
                </div>
                <div class="clearfix"> </div>
              </div>
            </a>
          </div>
          <div class="col-md-3 market-update-gd">
            @{
                var urlHE = "";
                if (Praescio.Models.Common.ACCOUNT.BoardId != 4)
                {
                  urlHE = Url.Action("AssignmentResult", "Praescio", new { assignmentType = (int)AssignmentType.All });

                  if (Praescio.Models.Common.STUDENTACCOUNT.AccountTypeId == (int)Praescio.BusinessEntities.Common.AccountType.IndividualStudent)
                  {
                    urlHE = Url.Action("AssignmentResult", "Praescio", new { assignmentType = (int)AssignmentType.IndividualAssignment });
                  }
                  else if (Praescio.Models.Common.STUDENTACCOUNT.AccountTypeId == (int)Praescio.BusinessEntities.Common.AccountType.Student)
                  {
                    urlHE = Url.Action("AssignmentResult", "Praescio", new { assignmentType = (int)AssignmentType.InstitutionAssignment });
                  }
                  else
                  {
                    urlHE = Url.Action("AssignmentResult", "Praescio", new { assignmentType = (int)AssignmentType.PraescioLesson });
                  }
                }
                else
                {
                  urlHE = Url.Action("AssignmentResult", "Praescio", new { assignmentType = (int)AssignmentType.PExtra });
                }
              }
            <a href="@urlHE">
              <div class="market-update-block clr-block-4">
                <div class="col-md-12 market-update-left">
                  <h4>History Of Exam</h4>
                </div>
                <div class="clearfix"> </div>
              </div>
            </a>
          </div>
          <div class="clearfix"> </div>
        </div>

      </div><!-- /.row -->

        @*<div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Activities</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <article class="media event" ng-repeat="activity in ActivityList">
                            <a class="pull-left date">
                                <p class="month">{{activity.Activities.CreatedOn| date:'MMM'}}</p>
                                <p class="day">{{activity.Activities.CreatedOn| date:'dd'}}</p>
                            </a>
                            <div class="media-body">
                                <a class="title" href="#">{{activity.Activities.ActivityName}}</a>
                                <p>{{activity.Activities.Query}}</p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
</div>


@section Scripts{

    <script type="text/javascript">
            myApp.controller('AdminDashboardCtrl', function ($scope, $rootScope, $filter, NetworkService) {
                $scope.TitleName = 'Dashboard'

                NetworkService.get('PraescioCommon/GetActivityList').success(function (data) {
                    $scope.ActivityList = data;
                    $scope.totalcount = data.TotalRecord;
                });
            });
    </script>
}




