@{
    ViewBag.Title = "School_details";
}
<!-- page content -->
<div class="right_col" role="main" ng-controller="SchoolDetailCtrl" ng-cloak>
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>School Details</h3>
            </div>
            <div class="title_right">
                <div class="col-md-6 col-sm-6 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <ol class="breadcrumb">
                            <li><a href="@Url.Action("Dashboard", "Parents")"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                            <li class="active">School Details</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <h2 class="text-left">School Details </h2>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <h2 class="text-left">
                                    School Name: &nbsp;&nbsp;&nbsp; {{InstitutionDetail.Institution.InstitutionName}}
                                </h2>
                            </div>
                        </div>
                    </div>
                <div class="body">
                  <div class="bs-example" data-example-id="media-alignment">
                    <div class="body table-responsive">
                      <table class="table table-striped tbl-equalwidth">
                        <tbody>                       
                              

                        <tr>
                          <th>School Name</th>
                          <td>{{InstitutionDetail.Institution.InstitutionName}}</td>
                        </tr>
                        <tr>
                          <th>School Registration Number</th>
                          <td>{{InstitutionDetail.Institution.RegistrationNo}}</td>
                        </tr>
                        <tr>
                          <th>School Address</th>
                          <td>{{InstitutionDetail.Institution.Address}}</td>
                        </tr>
                        <tr>
                          <th>School Domain Key</th>
                          <td>{{InstitutionDetail.Institution.DomainKey}}</td>
                        </tr>
                        <tr>
                          <th>Mobile Number</th>
                          <td>{{InstitutionDetail.Institution.MobileNo}}</td>
                        </tr>
                        <tr>
                          <th>Landline Number</th>
                          <td>{{InstitutionDetail.Institution.LandlineNo}}</td>
                        </tr>                               
                              
                        <tr>
                          <th>School email id</th>
                          <td>{{InstitutionDetail.Institution.Email}}</td>
                        </tr>
                        <tr>
                          <th>Board</th>
                          <td>{{InstitutionDetail.Institution.Board.BoardName}}</td>
                        </tr>
                        <tr>
                          <th>State</th>
                          <td>{{InstitutionDetail.Institution.State.StateName}}</td>
                        </tr>
                        <tr>
                          <th>City</th>
                          <td>{{InstitutionDetail.Institution.City}}</td>
                        </tr>
                        <tr>
                          <th>Pincode</th>
                          <td>{{InstitutionDetail.Institution.Pincode}}</td>
                        </tr>


                        <tr>
                          <th>School Medium</th>
                          <td>{{InstitutionDetail.Institution.Medium.Name}}</td>
                        </tr>
                        @if (Praescio.Models.Common.ACCOUNT.AccountTypeId != (int)Praescio.BusinessEntities.Common.AccountType.StudentParent)
                        {
                            <tr>
                              <th>Amount Paid</th>
                              <td>{{InstitutionDetail.Institution.AmountPaid}} INR</td>
                            </tr>
                            <tr>
                              <th>Total Count Of Allowed Students</th>
                              <td>{{InstitutionDetail.Institution.NoOfStudent}}</td>
                            </tr>
                            <tr>
                              <th>Total Count Of Allowed Teachers</th>
                              <td>{{InstitutionDetail.Institution.NoOfTeacher}}</td>
                            </tr>
                            <tr>
                              <th>Registered Student's Count</th>
                              <td>{{InstitutionDetail.RegisteredStudent}}</td>
                            </tr>
                            <tr>
                              <th>Registered Teacher's Count</th>
                              <td>{{InstitutionDetail.RegisteredTeacher}}</td>
                            </tr>
                            <tr>
                              <th>Pending Student</th>
                              <td>{{InstitutionDetail.PendingStudent}}</td>
                            </tr>
                            <tr>
                              <th>Pending Teacher</th>
                              <td>{{InstitutionDetail.PendingTeacher}}</td>
                            </tr>

                            <tr>
                              <th>School Address Proof</th>
                              <td><a target="_blank" ng-href='~/{{InstitutionDetail.Institution.AddressProofSrc}}'><i class="fa fa-file-pdf-o" style="font-size:48px;color:red"></i></a></td>
                            </tr>
                        }
                        
                        <tr> 
                                
                          <th>Activation Date</th>
                          <td>{{InstitutionDetail.Institution.ActivateOn| date:"dd MMM, yyyy"}}</td>
                        </tr>


                        <tr>
                          <th>Expiry Date</th>
                          <td>{{InstitutionDetail.Institution.ExpiredOn| date:"dd MMM, yyyy"}}</td>
                        </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            @if (Praescio.Models.Common.ACCOUNT.AccountTypeId != (int)Praescio.BusinessEntities.Common.AccountType.StudentParent)
            {
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="x_panel">
                    <div class="x_title">
                      <h2>School Management / Principal Details</h2>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x-content">
                      <div class="bs-example" data-example-id="media-alignment">
                        <div class="body table-responsive">
                          <table class="table table-striped tbl-equalwidth">
                            <tbody>

                              <tr>
                                <th>Principal Name</th>
                                <td>{{InstitutionDetail.PrincipalDetail.Name}}</td>
                              </tr>
                              <tr>
                                <th>Designation</th>
                                <td>{{InstitutionDetail.PrincipalDetail.Designation}}</td>
                              </tr>
                              <tr>
                                <th>Gender</th>
                                <td>{{InstitutionDetail.PrincipalDetail.Gender}}</td>
                              </tr>
                              <tr>
                                <th>Email id	</th>
                                <td>{{InstitutionDetail.PrincipalDetail.Email}}</td>
                              </tr>
                              <tr>
                                <th>Phone Number</th>
                                <td>{{InstitutionDetail.PrincipalDetail.MobileNo}}</td>
                              </tr>
                              <tr>
                                <th>Person Photo Id</th>
                                <td>
                                  <a target="_blank" ng-href='~/{{InstitutionDetail.PrincipalDetail.PersonPhotoSrc}}'>
                                    <img src="~/{{InstitutionDetail.PrincipalDetail.PersonPhotoSrc}}" width="40" height="40" class="PersonPhotoSrc" />
                                  </a>
                                </td>
                              </tr>
                              <tr>
                                <th>Authority Letter</th>
                                <td><a target="_blank" ng-href='~/{{InstitutionDetail.PrincipalDetail.AuthorityLetterSrc}}'><i class="fa fa-file-pdf-o" style="font-size:48px;color:red"></i></a></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- /page content -->
@section Scripts{

    <script type="text/javascript">

        myApp.controller('SchoolDetailCtrl', function ($scope, $rootScope, $filter, NetworkService) {

            $scope.Teacher = {};
            $scope.TitleName = 'School Information';

            NetworkService.get('PraescioAdmin/GetSchoolDetail?institutionId=@ViewBag.InstitutionId').success(function (data) {
              $scope.InstitutionDetail = data;
              console.log('$scope.InstitutionDetail.PrincipalDetail.PersonPhotoSrc ', $scope.InstitutionDetail.PrincipalDetail.PersonPhotoSrc )
              $scope.InstitutionDetail.PrincipalDetail.PersonPhotoSrc = ($scope.InstitutionDetail.PrincipalDetail.PersonPhotoSrc == null || $scope.InstitutionDetail.PrincipalDetail.PersonPhotoSrc == '' ? 'Content/assets/production/images/user.png' : $scope.InstitutionDetail.PrincipalDetail.PersonPhotoSrc);
              console.log('$scope.InstitutionDetail.PrincipalDetail.PersonPhotoSrc ', $scope.InstitutionDetail.PrincipalDetail.PersonPhotoSrc)
            });
                  
        });
    </script>
}
