
@{
    ViewBag.Title = "FillInTheBlanksHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="right_col" role="main" style="background:#48c9b0">
    <div class="cont">
        <div class="table-agile-info">

            <ol class="breadcrumb">
                <li><a href="lesson_history.html">Lesson</a></li>
                <li><a href="test_history.html">Test History</a></li>
                <li class="active">Fill In The Blanks</li>
            </ol>

            <div class="panel panel-default">
                <div class="panel-heading">
                    Fill In The Blanks
                    <span class="tools pull-right" style="font-size:12px;font-weight:600;">
                        <a href="javascript:;">Total: Duration : ddd:hh:mm</a>
                    </span>
                </div>
                <div>
                    <table class="table table-striped b-t b-light">
                        <tbody>
                            <tr>
                                <th>Answer</th>
                                <th>Correct Answer</th>
                                <th>Result</th>
                                <th>Marks Obtained</th>

                            </tr>
                            <tr>
                                <td>1. There are <b>24</b> hours in a day.</td>
                                <td>24</td>
                                <td><i class="fa fa-check text-success text-active"></i></td>
                                <td>01</td>
                            </tr>
                            <tr>
                                <td>2. The Sun is a <b>Ster</b></td>
                                <td>Star</td>
                                <td><i class="fa fa-times text-danger text-active"></i></td>
                                <td>00</td>
                            </tr>
                            <tr>
                                <td>3. There are <b>30</b> Days in July.</td>
                                <td>31</td>
                                <td><i class="fa fa-times text-danger text-active"></i></td>
                                <td>00</td>
                            </tr>
                            <tr>
                                <td><b>Total Marks</b></td>
                                <td>01</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>
</div>

