
@{
    ViewBag.Title = "StudentProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="right_col" role="main" style="background:#48c9b0">
    <div class="cont">

       
        <div class="table-agile-info">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Student Profile
                </div>
                <div>
                    <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
                        <tbody>
                            <tr data-expanded="true">
                                <th>First Name</th>
                                <td>Shreyash</td>
                            </tr>
                            <tr data-expanded="true">
                                <th>Last Name</th>
                                <td>Joshi</td>
                            </tr>
                            <tr data-expanded="true">
                                <th>Email Id</th>
                                <td>shreyashjoshi@gmail.com</td>
                            </tr>
                            <tr data-expanded="true">
                                <th>Password</th>
                                <td>*********  <a href="#myModal" data-toggle="modal" class="btn btn-success">Change Password</a></td>
                            </tr>
                            <tr data-expanded="true">
                                <th>Parent's Email Id</th>
                                <td>johnalex@gmail.com</td>
                            </tr>
                            <tr data-expanded="true">
                                <th>Students Parent’s Mobile Number</th>
                                <td>9824567125</td>
                            </tr>
                            <tr data-expanded="true">
                                <th>Student Address</th>
                                <td>Pune 411041</td>
                            </tr>
                            <tr data-expanded="true">
                                <th>Students School Name</th>
                                <td>Envento High School</td>
                            </tr>
                            <tr data-expanded="true">
                                <th>School Address</th>
                                <td>Pune 411041</td>
                            </tr>
                            <tr data-expanded="true">
                                <th>Board</th>
                                <td>CBSE Board</td>
                            </tr>
                            <tr data-expanded="true">
                                <th>Medium</th>
                                <td>English</td>
                            </tr>
                            <tr data-expanded="true">
                                <th>Standard</th>
                                <td>5th</td>
                            </tr>
                            <tr data-expanded="true">
                                <th>Current Package</th>
                                <td>Yearly</td>
                            </tr>
                            <tr data-expanded="true">
                                <th>Date Of Registration</th>
                                <td>5-Oct-2017</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
            </div>
        </div>



 <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">Change Password</h4>
            </div>
            <div class="modal-body">

                <form role="form">

                    <div class="form-group">
                        <label for="exampleInputPassword1">Old Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Old Password">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">New Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword3" placeholder="New Password">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Confirm Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Confirm Password">
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>