WriteReason
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="right_col" role="main" style="background:#48c9b0" ng-controller="WriteReasonCtrl">
    <div class="cont">


        <div class="table-agile-info">
            <ol class="breadcrumb">
                <li><a href="lesson_index.html">Lesson</a></li>
                <li><a href="start_test.html">Start Test</a></li>
                <li class="active">Write A Reason</li>
            </ol>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Write A Reason
                    <span class="tools pull-right" style="font-size:12px;font-weight:600;">
                        <a href="javascript:;">Active: Duration : ddd:hh:mm</a>
                    </span>
                </div>
                <div>
                    <table class="table table-striped b-t b-light" ng-repeat="question in QuestionList">
                        <tbody>
                            <tr>
                                <th>Write reason for:</th>
                                <td>{{question.Question.Title}}</td>
                            </tr>
                            <tr>
                                <th>Answer:</th>
                                <td><textarea name="text" id="text" ng-model="question.AttemptAnswer"></textarea></td>
                            </tr>
                            <tr data-expanded="true">
                                <th></th>
                                <td> <a href="#" class="btn btn-danger">Clear</a> 
                                    <a class="btn btn-success" ng-click="SaveAnswer();" ng-disabled="savingRequest">
                                        Submit
                                        <i class="fa fa-spinner fa-spin" ng-show="savingRequest"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>

    </div>
</div>
@section Scripts{

    <script type="text/javascript">

        myApp.controller('WriteReasonCtrl', function ($scope, $rootScope, $filter, NetworkService) {

            NetworkService.get('InstitutionStudent/GetAssignmentQuestion?assignmentid=@ViewBag.Assignmentid&typeOfQuestion=@ViewBag.TypeOfQuestion').success(function (data) {
                console.log(data);
                $scope.QuestionList = data;
            });

            $scope.SaveAnswer = function () {
                $scope.savingRequest = true;

                NetworkService.insert('InstitutionStudent/SaveAnswer', $scope.QuestionList).success(function (data) {
                    $scope.savingRequest = false;
                    swal({
                        title: "Answer has been successfully submitted!!!",
                        text: "Press Ok to Continue.",
                        type: "success",
                        confirmButtonColor: "green",
                        showCancelButton: false,
                    });
                }).error(function (data) {
                    $scope.savingRequest = false;
                    swal({
                        title: data.Message,
                        text: "Press Ok to Continue.",
                        type: "error",
                        confirmButtonColor: "red",
                        showCancelButton: false,
                    });
                });
            }
        });

       
</script>
}


