
@{
    ViewBag.Title = "WriteShortNote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="right_col" role="main" style="background:#48c9b0" ng-controller="ShortNoteCtrl">
    <div class="cont">

        <div class="table-agile-info">
            <ol class="breadcrumb">
                <li><a href="lesson_index.html">Lesson</a></li>
                <li><a href="start_test.html">Start Test</a></li>
                <li class="active">Write Short note</li>
            </ol>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Write Short note
                    <span class="tools pull-right" style="font-size:12px;font-weight:600;">
                        <a href="javascript:;">Active: Duration : ddd:hh:mm</a>
                    </span>
                </div>
                <div class="panel-body" ng-repeat="question in QuestionList">

                    <form role="form">
                        <div class="form-group">
                            <label>{{question.Question.Title}}.</label>
                        </div>
                        <div class="form-group">
                            <label>Answer:</label>
                            <textarea class="form-control" ng-model="question.AttemptAnswer"></textarea>
                        </div>

                    </form>
                </div>
            </div>
            <button type="submit" class="btn btn-danger">Clear</button>
            <a class="btn btn-success" ng-click="SaveAnswer();" ng-disabled="savingRequest">
                Submit
                <i class="fa fa-spinner fa-spin" ng-show="savingRequest"></i>
            </a>
        </div>
    </div>

</div>
@section Scripts{

 <script type="text/javascript">

        myApp.controller('ShortNoteCtrl', function ($scope, $rootScope, $filter, NetworkService) {

            NetworkService.get('InstitutionStudent/GetAssignmentQuestion?assignmentid=@ViewBag.Assignmentid&typeOfQuestion=@ViewBag.TypeOfQuestion').success(function (data) {
                $scope.QuestionList = data;
            });

            $scope.SaveAnswer = function () {
                $scope.savingRequest = true;

                NetworkService.insert('InstitutionStudent/SaveAnswer', $scope.QuestionList).success(function (data) {
                    $scope.savingRequest = false;
                    swal({
                        title: "Answer has been successfully submitted!!!",
                        text: "Press Ok to Continue.",
                        type: "success",
                        confirmButtonColor: "green",
                        showCancelButton: false,
                    });
                }).error(function (data) {
                    $scope.savingRequest = false;
                    swal({
                        title: data.Message,
                        text: "Press Ok to Continue.",
                        type: "error",
                        confirmButtonColor: "red",
                        showCancelButton: false,
                    });
                });
            }

        });
</script>
}


