
@{
    ViewBag.Title = "AssignmentList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="right_col" role="main">
    <div class="content">
        <div class="table-agile-info1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Assignment Index
                </div>
                <div class="row w3-res-tb">

                    <div class="col-sm-9">
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <input type="text" class="input-sm form-control" placeholder="Search">
                            <span class="input-group-btn">
                                <button class="btn btn-sm btn-default" type="button">Go!</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped b-t b-light">
                        <tbody>
                            <tr>
                                <th>Standard:</th>
                                <td>5th</td>
                            </tr>
                            <tr>
                                <th>Subject:</th>
                                <td>English</td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <table class="table table-striped b-t b-light">
                        <thead>
                            <tr>
                                <th>Assignment Nos.</th>
                                <th>Assignment Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td><a href="@Url.Action("TestStart", "InstitutionStudent")">Idrawfast prototype design prototype design prototype design prototype design prototype design</a></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td><a href="@Url.Action("TestStart", "InstitutionStudent")">Idrawfast prototype design prototype design prototype design prototype design prototype design</a></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td><a href="@Url.Action("TestStart", "InstitutionStudent")">Idrawfast prototype design prototype design prototype design prototype design prototype design</a></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td><a href="@Url.Action("TestStart", "InstitutionStudent")">Idrawfast prototype design prototype design prototype design prototype design prototype design</a></td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td><a href="start_test.html">Idrawfast prototype design prototype design prototype design prototype design prototype design</a></td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td><a href="start_test.html">Idrawfast prototype design prototype design prototype design prototype design prototype design</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <footer class="panel-footer">
                    <div class="row">

                        <div class="col-sm-5 text-center">

                        </div>
                        <div class="col-sm-7 text-right text-center-xs">
                            <ul class="pagination pagination-sm m-t-none m-b-none">
                                <li><a href=""><i class="fa fa-chevron-left"></i></a></li>
                                <li><a href="">1</a></li>
                                <li><a href="">2</a></li>
                                <li><a href="">3</a></li>
                                <li><a href="">4</a></li>
                                <li><a href=""><i class="fa fa-chevron-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    </div>

