
@{
    ViewBag.Title = "CourseCompletionStatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="right_col" role="main" style="background:#48c9b0">
    <div class="cont">
        <div class="table-agile-info">
            <ol class="breadcrumb">
                <li>Edu Study</li>
                <li class="active">Course Completion Status</li>
            </ol>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Course Completion Status
                </div>
                <div class="panel-body">
                    <div class="agile-last-grids">
                        <div class="col-md-4 agile-last-left">
                            <div class="agile-last-grid">
                                <div class="area-grids-heading">
                                    <h3>Assignments</h3>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info" style="width: 60%"></div>
                                </div>
                                <a href="course_completion_details.html"><span class="label label-danger">Read More</span></a>
                            </div>

                        </div>
                        <div class="col-md-4 agile-last-left agile-last-middle">
                            <div class="agile-last-grid">
                                <div class="area-grids-heading">
                                    <h3>Praescio Lessons</h3>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" style="width: 30%"></div>
                                </div>
                                <a href="course_completion_details.html"><span class="label label-danger">Read More</span></a>
                            </div>
                        </div>
                        <div class="col-md-4 agile-last-left agile-last-right">
                            <div class="agile-last-grid">
                                <div class="area-grids-heading">
                                    <h3>P-Extra Act</h3>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-warning" style="width: 70%"></div>
                                </div>
                                <a href="course_completion_details.html"><span class="label label-danger">Read More</span></a>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>

