
@{
    ViewBag.Title = "CreativityHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="right_col" role="main" style="background:#48c9b0">
    <div class="cont">
        <div class="table-agile-info">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Creativity History
                </div>
                <div class="row w3-res-tb">

                    <div class="col-sm-9">
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <input type="text" class="input-sm form-control" placeholder="Search">
                            <span class="input-group-btn">
                                <button class="btn btn-sm btn-default" type="button">Go!</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped b-t b-light">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Description</th>
                                <th>File</th>
                                <th>Ratings</th>
                                <th>Reviews</th>
                                <th>Given By</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <!--<td><a href="creative_histiry_details.html">Creative Story</a></td>-->
                                <td>Creative Story</td>
                                <td><a href="#myModal" data-toggle="modal">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></td>
                                <td><a href="downloads/pdf.pdf">File</a></td>
                                <td>***</td>
                                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</td>
                                <td>Alexander</td>
                            </tr>
                            <tr>
                                <!--<td><a href="creative_histiry_details.html">Creative Story</a></td>-->
                                <td>Creative Story</td>
                                <td><a href="#myModal" data-toggle="modal">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></td>
                                <td><a href="downloads/pdf.pdf">File</a></td>
                                <td>***</td>
                                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</td>
                                <td>Alexander</td>
                            </tr>
                            <tr>
                                <!--<td><a href="creative_histiry_details.html">Creative Story</a></td>-->
                                <td>Creative Story</td>
                                <td><a href="#myModal" data-toggle="modal">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></td>
                                <td><a href="downloads/pdf.pdf">File</a></td>
                                <td>***</td>
                                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</td>
                                <td>Alexander</td>
                            </tr>
                            <tr>
                                <!--<td><a href="creative_histiry_details.html">Creative Story</a></td>-->
                                <td>Creative Story</td>
                                <td><a href="#myModal" data-toggle="modal">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></td>
                                <td><a href="downloads/pdf.pdf">File</a></td>
                                <td>***</td>
                                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</td>
                                <td>Alexander</td>
                            </tr>
                            <tr>
                                <!--<td><a href="creative_histiry_details.html">Creative Story</a></td>-->
                                <td>Creative Story</td>
                                <td><a href="#myModal" data-toggle="modal">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></td>
                                <td><a href="downloads/pdf.pdf">File</a></td>
                                <td>***</td>
                                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</td>
                                <td>Alexander</td>
                            </tr>
                            <tr>
                                <!--<td><a href="creative_histiry_details.html">Creative Story</a></td>-->
                                <td>Creative Story</td>
                                <td><a href="#myModal" data-toggle="modal">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></td>
                                <td><a href="downloads/pdf.pdf">File</a></td>
                                <td>***</td>
                                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</td>
                                <td>Alexander</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <footer class="panel-footer">
                    <div class="row">

                        <div class="col-sm-5 text-center">

                        </div>
                        <div class="col-sm-7 text-right text-center-xs">
                            <ul class="pagination pagination-sm m-t-none m-b-none">
                                <li><a href=""><i class="fa fa-chevron-left"></i></a></li>
                                <li><a href="">1</a></li>
                                <li><a href="">2</a></li>
                                <li><a href="">3</a></li>
                                <li><a href="">4</a></li>
                                <li><a href=""><i class="fa fa-chevron-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </footer>


            </div>
        </div>

        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                        <h4 class="modal-title">Creativity History </h4>
                    </div>
                    <div class="modal-body">

                        <form role="form">
                            <table class="table table-striped b-t b-light">
                                <tbody>
                                    <tr>
                                        <th>Title</th>
                                        <td>Creative Story</td>
                                    </tr>
                                    <tr>
                                        <th>Description</th>
                                        <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</td>
                                    </tr>
                                    <tr>
                                        <th>File</th>
                                        <td><a href="downloads/pdf.pdf">File</a></td>
                                    </tr>
                                    <tr>
                                        <th>Ratings</th>
                                        <td>***</td>
                                    </tr>
                                    <tr>
                                        <th>Reviews</th>
                                        <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</td>
                                    </tr>
                                    <tr>
                                        <th>Given By</th>
                                        <td>Alexander</td>
                                    </tr>
                                </tbody>
                            </table>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

