
@{
    ViewBag.Title = "DifferentiateBetweenHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="right_col" role="main" style="background:#48c9b0" ng-controller="DiffCheckCtrl">
    <div class="cont">
        <div class="table-agile-info">
            <ol class="breadcrumb">
                <li><a href="lesson_history.html">Lesson</a></li>
                <li><a href="test_history.html">Test History</a></li>
                <li class="active">Differentiate Between</li>
            </ol>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Differentiate Between
                    <span class="tools pull-right" style="font-size:12px;font-weight:600;">
                        <a href="javascript:;">Total: Duration : ddd:hh:mm</a>
                    </span>
                </div>
                <div>
                    @*<div class="panel-body">
                        <table class="table table-striped b-t b-light">
                            <tbody>
                                <tr>
                                    <th>Difference Between</th>
                                    <td colspan="2">Living and Nonliving Things</td>
                                </tr>
                                <tr>
                                    <th>Answer</th>
                                    <td>
                                        <b>Living Things</b>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </td>
                                    <td>
                                        <b>Non Living Things</b>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Marks Obtained</th>
                                    <td colspan="2">10</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr>*@
                    <div class="panel-body">
                        <table class="table table-striped b-t b-light">
                            <tbody>
                                <tr>
                                    <th>Answer</th>
                                    <th>Correct Answer</th>
                                    <th>Result</th>
                                    <th>Marks Obtained</th>

                                </tr>
                                <tr ng-repeat="act in Acitivity.studentActivity">
                                    <td>{{$index+1}}. {{act.Question.Title}}</td>
                                    <td>{{act.Question.CorrectAnswer}}</td>
                                    <td>
                                        <i ng-if="act.UserAssessment.MarkScored==1" class="fa fa-check text-success text-active"></i>
                                        <i ng-if="act.UserAssessment.MarkScored==0" class="fa fa-times text-danger text-active"></i>
                                    </td>
                                    <td>{{act.UserAssessment.MarkScored}}</td>
                                </tr>

                                <tr>
                                    <td><b>Total Marks  {{Acitivity.MarksScored}}/{{Acitivity.totalMarks}}</b> </td>
                                </tr>
                            </tbody>
                        </table>
                        @*<table class="table table-striped b-t b-light">
                            <tbody>
                                <tr>
                                    <th>Difference Between</th>
                                    <td colspan="2">Breathing and Respiration </td>
                                </tr>
                                <tr>
                                    <th>Answer</th>
                                    <td>
                                        <b>Breathing</b>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </td>
                                    <td>
                                        <b>Respiration</b>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Marks Obtained</th>
                                    <td colspan="2">10</td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Total Marks</b>
                                    </td>
                                    <td>
                                        20
                                    </td>
                                </tr>
                            </tbody>
                        </table>*@
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        myApp.controller('DiffCheckCtrl', function ($scope, $rootScope, $filter, NetworkService) {
            $scope.Student = {};

            NetworkService.get('PraescioCommon/GetStudentActivityMarks?assignmentid=@ViewBag.AssignmentId&QuestionType=@Convert.ToInt16(Praescio.BusinessEntities.Common.TypeOfQuestion.DifferentiateBetween)').success(function (data) {
                $scope.Acitivity = data;
            });
        });
    </script>
}
