
@{
    ViewBag.Title = "Exercise";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="right_col" role="main" ng-controller="ExerciseCtrl">
    <div class="content">
        <div class="table-agile-info1">
            <ol class="breadcrumb">
                <li><a href="lesson_index.html">Lesson</a></li>
                <li><a href="start_test.html">Start Test</a></li>
                <li class="active">Exercise - [other type of Question] </li>
            </ol>
            <div class="panel panel-default" id="tbl-questions">
                <div class="panel-heading">
                    Exercise - [other type of Question]
                    <span title="Days:Hours:Minutes" class="tools pull-right" style="font-size:12px;font-weight:600;">
                      Active Duration:
                      <span ng-if="ExamStartDateTimer == null">Not Started</span>
                      <span ng-if="ExamStartDateTimer != null">{{ ExamStartDateTimer }}</span>
                    </span>
                </div>
                <div class="panel-body" ng-repeat="q in QuestionList">
                    <table class="table table-striped b-t b-light">
                        <tbody>
                            <tr>
                                <th>Lesson Summary:</th>
                            </tr>
                            <tr>
                                <td>
                                    {{q.Question.Title}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <form role="form">
                        <div ng-repeat="option in q.QuestionOption">
                            <div class="form-group">
                                <label>{{$index+1}}. {{option.Option}}</label>
                            </div>
                            <div class="form-group">
                                <label>Answer:</label>
                                <input type="text" class="form-control" id="answer" placeholder="Write Answer" ng-model="option.StudentAnswer">
                            </div>

                        </div>
                        @*<button type="submit" class="btn btn-danger">Clear</button>*@
                        <a class="btn btn-success" ng-click="SaveAnswer();" ng-disabled="savingRequest">
                            Save
                            <i class="fa fa-spinner fa-spin" ng-show="savingRequest"></i>
                        </a>
                    </form>
                </div>
            </div>


        </div>

    </div>

</div>
@section Scripts{

    <script type="text/javascript">

        myApp.controller('ExerciseCtrl', function ($scope, $rootScope, $filter, NetworkService, $interval) {
            $scope.ExamStartDateTimer = "Loading...";
            NetworkService.get('PraescioCommon/GetUserAssessmentDetail?assignmentid=@ViewBag.assignmentid').success(function (data) {
                if (data != null) {
                  $interval(function () {
                    $scope.ExamStartDateTimer = GetStopWatchTime(data.ExamStartDate);
                  }, 1000);
                } else {
                  $scope.ExamStartDateTimer = null;
                }
            });

            NetworkService.get('InstitutionStudent/GetAssignmentQuestion?assignmentid=@ViewBag.Assignmentid&typeOfQuestion=@ViewBag.TypeOfQuestion').success(function (data) {
                $scope.QuestionList = data;
            });

            $scope.SaveAnswer = function () {
                $scope.savingRequest = true;

                if ($('#tbl-questions input[type=text]').filter(function () {
                  return $.trim($(this).val()).length == 0
                }).length > 0) {
                  $scope.savingRequest = false;
                  swal({
                    title: "Please fill in all the values.",
                    text: "Press Ok to Continue.",
                    type: "error",
                    confirmButtonColor: "red",
                    showCancelButton: false,
                  });
                  return;
                }

                NetworkService.insert('InstitutionStudent/SaveAnswer', $scope.QuestionList).success(function (data) {
                    $scope.savingRequest = false;
                    swal({
                        title: "Answer has been successfully submitted!!!",
                        text: "Press Ok to Continue.",
                        type: "success",
                        confirmButtonColor: "green",
                        showCancelButton: false,
                        closeOnConfirm: false,
                        closeOnCancel: true
                    },
                      function (isConfirm) {
                          if (isConfirm) {
                              var assignment = '@ViewBag.Assignmentid';
                              window.location.href = '@Url.Content("~/Praescio/AssignmentQuestion?assignmentId=")' + assignment;
                          }
                      });

                }).error(function (data) {
                    $scope.savingRequest = false;
                    swal({
                        title: data.Message,
                        text: "Press Ok to Continue.",
                        type: "error",
                        confirmButtonColor: "red",
                        showCancelButton: false,
                    });
                });
            }

        });
    </script>
}


