
@{
    ViewBag.Title = "MatchTheFollowingHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="right_col" role="main" ng-controller="AssignmentCheckCtrl" >
    <div class="content">
        <div class="table-agile-info1">

            <ol class="breadcrumb">
                <li><a href="lesson_history.html">Lesson</a></li>
                <li><a href="test_history.html">Test History</a></li>
                <li class="active">Match The Following</li>
            </ol>

            <div class="panel panel-default">
                <div class="panel-heading">
                    Match The Following
                    @*<span class="tools pull-right" style="font-size:12px;font-weight:600;">
                        <a href="javascript:;">Total: Duration : ddd:hh:mm</a>
                    </span>*@
                </div>
                <div>
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>Question</th>
                                <th>Correct Answer</th>
                                <th>Student's Answer</th>
                                <th>Result</th>
                                <th>Marks Obtained</th>
                            </tr>
                            <tr ng-repeat="act in Acitivity.studentActivity">
                                <td>{{$index+1}}. {{act.UserAssessment.QuestionOption.Option}}-{{act.UserAssessment.QuestionOption.MatchAnswer}} </td>
                                <td>{{act.QuestionOption.MatchAnswer}}</td>
                                <td>{{act.UserAssessment.Answer}}</td>
                                <td>
                                    <i ng-if="act.UserAssessment.MarkScored==1" class="fa fa-check text-success text-active"></i>
                                    <i ng-if="act.UserAssessment.MarkScored==0" class="fa fa-times text-danger text-active"></i>
                                </td>
                                <td>{{act.UserAssessment.MarkScored}}</td>
                            </tr>
                            <tr>
                                <td><b>Total Marks  {{Acitivity.MarksScored}}/{{Acitivity.totalMarks}}</b> </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>


        </div>
    </div>
</div>

@section Scripts{



    <script type="text/javascript">


        myApp.controller('AssignmentCheckCtrl', function ($scope, $rootScope, $filter, NetworkService) {


            $scope.Student = {};

            NetworkService.get('PraescioCommon/GetStudentActivityMarks?assignmentid=@ViewBag.AssignmentId&QuestionType=@Convert.ToInt16(Praescio.BusinessEntities.Common.TypeOfQuestion.MatchTheFollowing)').success(function (data) {
                $scope.Acitivity = data;
            });


        });
    </script>
}
