
@{
    ViewBag.Title = "MatchTheFollowing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="right_col" role="main" ng-controller="MTFCtrl">
    <div class="content">
        <div class="table-agile-info1">

            <ol class="breadcrumb">
                <li><a href="lesson_index.html">Lesson</a></li>
                <li><a href="start_test.html">Start Test</a></li>
                <li class="active">Match The Following</li>
            </ol>

            <div class="panel panel-default">
                <div class="panel-heading">
                    Match The Following
                    <span title="Days:Hours:Minutes" class="tools pull-right" style="font-size:12px;font-weight:600;">
                      Active Duration:
                      <span ng-if="ExamStartDateTimer == null">Not Started</span>
                      <span ng-if="ExamStartDateTimer != null">{{ ExamStartDateTimer }}</span>
                    </span>
                </div>
                <div>
                    <table class="table table-bordered" ng-repeat="q in Question" id="tbl-questions">
                        <tbody>
                            <tr ng-repeat="option in q.QuestionOption">
                                <td>{{$index+1}}. {{option.Option}} </td>
                                <td>
                                    <select id="Version" name="Version" class="input-sm form-control" ng-model="option.StudentAnswer" ng-options="option.MatchQuestion as option.MatchQuestion for option in q.QuestionOption" ng-change="" ng-required="true">
                                        <option value="">-- Select Answer --</option>
                                    </select>
                                </td>
                                <td>{{option.Category}}. {{option.MatchQuestion}} </td>
                            </tr>
                           
                            <tr>
                                <td></td>
                                <td>
                                    @*<a href="#" class="btn btn-danger">Clear</a>*@
                                    <a class="btn btn-success" ng-click="SaveAnswer();" ng-disabled="savingRequest">
                                        Save
                                        <i class="fa fa-spinner fa-spin" ng-show="savingRequest"></i>
                                    </a>
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>


        </div>

    </div>

</div>
@section Scripts{

 <script type="text/javascript">

        myApp.controller('MTFCtrl', function ($scope, $rootScope, $filter, NetworkService, $interval) {
            $scope.ExamStartDateTimer = "Loading...";
            NetworkService.get('PraescioCommon/GetUserAssessmentDetail?assignmentid=@ViewBag.assignmentid').success(function (data) {
              if (data != null) {
                $interval(function () {
                  $scope.ExamStartDateTimer = GetStopWatchTime(data.ExamStartDate);
                }, 1000);
              } else {
                $scope.ExamStartDateTimer = null;
              }
            });

            NetworkService.get('InstitutionStudent/GetAssignmentQuestion?assignmentid=@ViewBag.Assignmentid&typeOfQuestion=@ViewBag.TypeOfQuestion').success(function (data) {
                console.log(data);
                $scope.Question = data;
            });


            $scope.SaveAnswer = function () {
                $scope.savingRequest = true;

                if ($('#tbl-questions select').filter(function () {
                  return $.trim($(this).val()).length == 0
                }).length > 0) {
                  $scope.savingRequest = false;
                  swal({
                    title: "Please match all combinations.",
                    text: "Press Ok to Continue.",
                    type: "error",
                    confirmButtonColor: "red",
                    showCancelButton: false,
                  });
                  return;
                }

                NetworkService.insert('InstitutionStudent/SaveAnswer', $scope.Question).success(function (data) {
                    $scope.savingRequest = false;
                    console.log(data);
                    swal({
                        title: "Answer has been successfully submitted!!!",
                        text: "Press Ok to Continue.",
                        type: "success",
                        confirmButtonColor: "green",
                        showCancelButton: false,
                        closeOnConfirm: false,
                        closeOnCancel: true
                    },
                    function (isConfirm) {
                        if (isConfirm) {
                            var assignment = '@ViewBag.Assignmentid';
                            window.location.href = '@Url.Content("~/Praescio/AssignmentQuestion?assignmentId=")' + assignment;
                        }
                    });
                }).error(function (data) {
                    $scope.savingRequest = false;
                    swal({
                        title: data.Message,
                        text: "Press Ok to Continue.",
                        type: "error",
                        confirmButtonColor: "red",
                        showCancelButton: false,
                    });
                });
            }

        });
</script>
}


