
@{
    ViewBag.Title = "Meaningoflesson";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="right_col" role="main" style="background:#48c9b0" ng-controller="MOLCtrl">
    <div class="cont">

        <div class="table-agile-info">
            <ol class="breadcrumb">
                <li><a href="lesson_index.html">Lesson</a></li>
                <li><a href="start_test.html">Start Test</a></li>
                <li class="active">Meaning of Lesson</li>
            </ol>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Meaning Of Lesson
                    <span class="tools pull-right" style="font-size:12px;font-weight:600;">
                        <a href="javascript:;">Active: Duration : ddd:hh:mm</a>
                    </span>
                </div>
                <div>
                    <table class="table table-striped b-t b-light" ng-repeat="question in QuestionList">
                        <tbody>
                            <tr>
                                <th>Title:</th>
                            </tr>
                            <tr>
                                <td>{{question.Question.Title}}</td>
                            </tr>

                            <tr>
                                <th>Summary or Meaning of lesson:</th>
                            </tr>
                            <tr>
                                <td>
                                    {{question.Question.CorrectAnswer}}
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>


        </div>
        </div>

</div>

@section Scripts{

    <script type="text/javascript">

        myApp.controller('MOLCtrl', function ($scope, $rootScope, $filter, NetworkService) {

            NetworkService.get('InstitutionStudent/GetAssignmentQuestion?assignmentid=@ViewBag.Assignmentid&typeOfQuestion=@ViewBag.TypeOfQuestion').success(function (data) {
                $scope.QuestionList = data;
            });
        });
    </script>
}
