
@{
    ViewBag.Title = "MultipleChoiceQuestions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="right_col" role="main" ng-controller="MCQCtrl">
    <div class="cont">

        <div class="table-agile-info">
            <ol class="breadcrumb">
                <li><a href="lesson_index.html">Lesson</a></li>
                <li><a href="start_test.html">Start Test</a></li>
                <li class="active">Multiple Choice Questions</li>
            </ol>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Multiple Choice Questions
                    <span class="tools pull-right" style="font-size:12px;font-weight:600;">
                        <a href="javascript:;">Active: Duration : ddd:hh:mm</a>
                    </span>
                </div>
                <div ng-repeat="q in Question">

                    <div class="panel-body">
                        <form role="form">
                            <label>
                                {{$index +1 }}. {{q.Question.Title}}
                            </label>
                            <div class="col-md-12 col-xs-12">
                                <div class="col-md-4 col-md-offset-4">
                                    <img src="~/{{q.Question.MCQQuestionImageSrc}}" ng-show="q.Question.MCQImage1Src" style="width:8em; height:6em;" alt="Alternate Text" />
                                </div>
                            </div>

                            <div class="col-md-12 col-xs-12">
                                <div class="col-md-6 col-xs-6">
                                    A. {{q.Question.MCQText1}} <img src="~/{{q.Question.MCQImage1Src}}" ng-show="q.Question.MCQImage1Src" style="width:8em; height:6em;" alt="Alternate Text" />
                                    <br />
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    B. {{q.Question.MCQText2}} <img src="~/{{q.Question.MCQImage2Src}}" ng-show="q.Question.MCQImage2Src" style="width:8em; height:6em;" alt="Alternate Text" />
                                    <br />
                                </div>
                                <br />
                                <br />

                            </div>
                            <div class="col-md-12 col-xs-12" style="padding-top:25px;">
                                <div class="col-md-6 col-xs-6">
                                    C. {{q.Question.MCQText3}} <img src="~/{{q.Question.MCQImage3Src}}" ng-show="q.Question.MCQImage3Src" style="width:8em; height:6em;" alt="Alternate Text" />
                                    <br />
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    D. {{q.Question.MCQText4}} <img src="~/{{q.Question.MCQImage4Src}}" ng-show="q.Question.MCQImage4Src" style="width:8em; height:6em;" alt="Alternate Text" />
                                    <br />
                                </div>
                            </div>

                            <div class="col-md-12 col-xs-12">
                                <div class="col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <label for="heard" class="required">Select Answer</label>
                                        <select id="State" name="State" class="input-sm form-control" ng-model="q.MCQAnswer" ng-options="option.id as option.text for option in MCQAnswerList" ng-change="" ng-required="true">
                                            <option value="">-- Select Answer --</option>
                                        </select>
                                        <p ng-show="SchoolForm.State.$invalid && (SchoolForm.State.$dirty || submitted ||SchoolForm.State.$touched )" class="text-danger">State is required.</p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div>
                    @*<a href="#" class="btn btn-danger">Clear</a>*@
                    <a class="btn btn-success" ng-click="SaveAnswer();" ng-disabled="savingRequest">
                        Submit
                        <i class="fa fa-spinner fa-spin" ng-show="savingRequest"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts{

    <script type="text/javascript">

    myApp.controller('MCQCtrl', function ($scope, $rootScope, $filter, NetworkService) {

        NetworkService.get('InstitutionStudent/GetAssignmentQuestion?assignmentid=@ViewBag.Assignmentid&typeOfQuestion=@ViewBag.TypeOfQuestion').success(function (data) {
            console.log(data);
            $scope.Question = data;
        });

        $scope.MCQAnswerList = [{ "id": 'A', "text": 'A' }, { "id": 'B', "text": 'B' }, { "id": 'C', "text": 'C' }, { "id": 'D', "text": 'D' }];


        $scope.SaveAnswer = function () {
            $scope.savingRequest = true;

            NetworkService.insert('InstitutionStudent/SaveAnswer', $scope.Question).success(function (data) {
                $scope.savingRequest = false;
                console.log(data);
                swal({
                    title: "Answer has been successfully submitted!!!",
                    text: "Press Ok to Continue.",
                    type: "success",
                    confirmButtonColor: "green",
                    showCancelButton: false,
                    closeOnConfirm: false,
                    closeOnCancel: true
                },
                  function (isConfirm) {
                      if (isConfirm) {
                          var assignment = '@ViewBag.Assignmentid';
                          window.location.href = '@Url.Content("~/Praescio/AssignmentQuestion?assignmentId=")' + assignment;
                          }
                      });

                }).error(function (data) {
                    $scope.savingRequest = false;
                    swal({
                                title: data.Message,
                        text: "Press Ok to Continue.",
                        type: "error",
                        confirmButtonColor: "red",
                        showCancelButton: false,
                    });
                });
            }

        });
    </script>
}
