
@{
    ViewBag.Title = "MultipleChoiceQuestionsHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="right_col" role="main" ng-controller="MCQCheckCtrl">
    <div class="content">
        <div class="table-agile-info1">
            <ol class="breadcrumb">
                <li><a href="lesson_history.html">Lesson</a></li>
                <li><a href="test_history.html">Test History</a></li>
                <li class="active">Multiple Choice Questions</li>
            </ol>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Multiple Choice Questions
                    @*<span class="tools pull-right" style="font-size:12px;font-weight:600;">
                        <a href="javascript:;">Total: Duration : ddd:hh:mm</a>
                    </span>*@
                </div>
                <div class="panel-body">
                    <div>
                        <table class="table table-striped b-t b-light">
                            <tbody>
                                <tr>
                                    <th>Question</th>
                                    <th>Correct Answer</th>
                                    <th>Student's Answer</th>
                                    <th>Result</th>
                                    <th>Marks Obtained</th>

                                </tr>
                                <tr ng-repeat="act in Acitivity.studentActivity">
                                    <td>{{$index+1}}. {{act.Question.Title}}</td>
                                    <td>{{act.Question.CorrectAnswer}}</td>
                                    <td>{{act.UserAssessment.Answer}}</td>
                                    <td>
                                        <i ng-if="act.UserAssessment.MarkScored==1" class="fa fa-check text-success text-active"></i>
                                        <i ng-if="act.UserAssessment.MarkScored==0" class="fa fa-times text-danger text-active"></i>
                                    </td>
                                    <td>{{act.UserAssessment.MarkScored}}</td>
                                </tr>

                                <tr>
                                    <td><b>Total Marks  {{Acitivity.MarksScored}}/{{Acitivity.totalMarks}}</b> </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    @*<table class="table table-striped b-t b-light">
                        <tbody>
                            <tr>
                                <th>Question</th>
                                <th>Student's Answer</th>
                                <th>Correct Answer</th>
                                <th>Result</th>
                                <th>Marks Obtained</th>

                            </tr>
                            <tr>
                                <td>Which company manufacturers low and high power communication equipment like radius for the use of defence services and paramilitary organisations? </td>
                                <td>Bharat Electronics Limited (BEL)</td>
                                <td>Bharat Electronics Limited (BEL)</td>
                                <td><i class="fa fa-check text-success text-active"></i></td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td><img src="assets/images/mcq.png"></td>
                                <td>2</td>
                                <td>1</td>
                                <td><i class="fa fa-times text-danger text-active"></i></td>
                                <td>00</td>
                            </tr>
                            <tr>
                                <td>Identify the figure that completes the pattern.</br><img src="assets/images/fig.png"></td>
                                <td>2 <img src="assets/images/fig_ans2.png"></td>
                                <td>2 <img src="assets/images/fig_ans2.png"></td>
                                <td><i class="fa fa-check text-success text-active"></i></td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>3 pumps, working 8 hours a day, can empty a tank in 2 days. How many hours a day must 4 pumps work to empty the tank in 1 day? </td>
                                <td>C.11 </td>
                                <td>C.11 </td>
                                <td><i class="fa fa-check text-success text-active"></i></td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Total Marks</b>
                                </td>
                                <td colspan="4">
                                    30
                                </td>
                            </tr>
                        </tbody>
                    </table>*@
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{



    <script type="text/javascript">


        myApp.controller('MCQCheckCtrl', function ($scope, $rootScope, $filter, NetworkService) {
            $scope.Student = {};

            NetworkService.get('PraescioCommon/GetStudentActivityMarks?assignmentid=@ViewBag.AssignmentId&QuestionType=@Convert.ToInt16(Praescio.BusinessEntities.Common.TypeOfQuestion.MCQ)').success(function (data) {
                $scope.Acitivity = data;
                console.log(data);
            });

        });
    </script>
}
