
@{
    ViewBag.Title = "Synonyms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="right_col" role="main" ng-controller="SynonymsCtrl">
    <div class="content">

        <div class="table-agile-info1">
            <ol class="breadcrumb">
                <li><a href="lesson_index.html">Lesson</a></li>
                <li><a href="start_test.html">Start Test</a></li>
                <li class="active">Synonyms</li>
            </ol>
            <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                      <h2 class="text-left">Synonyms</h2>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                      <h2 class="text-left">
                        <a href="javascript:;">Active: Duration : ddd:hh:mm</a>
                      </h2>
                    </div>
                  </div>
                </div>
                <div>
                    <table class="table table-striped b-t b-light">
                        <tbody>
                            <tr ng-repeat="question in QuestionList">
                                <th>{{question.Title + '  -'}}</th>
                                <td>{{question.CorrectAnswer}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
        </div>
    </div>
@section Scripts{

    <script type="text/javascript">

        myApp.controller('SynonymsCtrl', function ($scope, $rootScope, $filter, NetworkService) {

            NetworkService.get('InstitutionStudent/GetAssignmentQuestion?assignmentid=@ViewBag.Assignmentid&typeOfQuestion=@ViewBag.TypeOfQuestion').success(function (data) {
                $scope.QuestionList = data;
            });

        });
    </script>
     
}


