
@{
    ViewBag.Title = "WriteShortNote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="right_col" role="main" ng-controller="ShortNoteCtrl">
    <div class="content">

        <div class="table-agile-info1">
            <ol class="breadcrumb">
                <li><a href="lesson_index.html">Lesson</a></li>
                <li><a href="start_test.html">Start Test</a></li>
                <li class="active">Write Short note</li>
            </ol>
            <div class="panel panel-default" id="tbl-questions">
                <div class="panel-heading">
                    Write Short note
                    <span title="Days:Hours:Minutes" class="tools pull-right" style="font-size:12px;font-weight:600;">
                      Active Duration:
                      <span ng-if="ExamStartDateTimer == null">Not Started</span>
                      <span ng-if="ExamStartDateTimer != null">{{ ExamStartDateTimer }}</span>
                    </span>
                </div>
                <div class="panel-body" ng-repeat="question in QuestionList">

                    <form role="form">
                        <div class="form-group">
                            <label>{{question.Question.Title}}.</label>
                        </div>
                        <div class="form-group">
                            <label>Answer:</label>
                            <textarea class="form-control" ng-model="question.AttemptAnswer"></textarea>
                        </div>

                    </form>
                </div>
            </div>
            @*<button type="submit" class="btn btn-danger">Clear</button>*@
            <a class="btn btn-success" ng-click="SaveAnswer();" ng-disabled="savingRequest">
                Save
                <i class="fa fa-spinner fa-spin" ng-show="savingRequest"></i>
            </a>
        </div>
    </div>

</div>
@section Scripts{

 <script type="text/javascript">

        myApp.controller('ShortNoteCtrl', function ($scope, $rootScope, $filter, NetworkService, $interval) {
            $scope.ExamStartDateTimer = "Loading...";
            NetworkService.get('PraescioCommon/GetUserAssessmentDetail?assignmentid=@ViewBag.assignmentid').success(function (data) {
                if (data != null) {
                  $interval(function () {
                    $scope.ExamStartDateTimer = GetStopWatchTime(data.ExamStartDate);
                  }, 1000);
                } else {
                  $scope.ExamStartDateTimer = null;
                }
            });

            NetworkService.get('InstitutionStudent/GetAssignmentQuestion?assignmentid=@ViewBag.Assignmentid&typeOfQuestion=@ViewBag.TypeOfQuestion').success(function (data) {
                $scope.QuestionList = data;
            });

            $scope.SaveAnswer = function () {
                $scope.savingRequest = true;

                if ($('#tbl-questions textarea').filter(function () {
                  return $.trim($(this).val()).length == 0
                }).length > 0) {
                  $scope.savingRequest = false;
                  swal({
                    title: "Please answer all questions.",
                    text: "Press Ok to Continue.",
                    type: "error",
                    confirmButtonColor: "red",
                    showCancelButton: false,
                  });
                  return;
                }

                NetworkService.insert('InstitutionStudent/SaveAnswer', $scope.QuestionList).success(function (data) {
                    $scope.savingRequest = false;
                    swal({
                        title: "Answer has been successfully submitted!!!",
                        text: "Press Ok to Continue.",
                        type: "success",
                        confirmButtonColor: "green",
                        showCancelButton: false,
                        closeOnConfirm: false,
                        closeOnCancel: true
                    },
                      function (isConfirm) {
                          if (isConfirm) {
                              var assignment = '@ViewBag.Assignmentid';
                              window.location.href = '@Url.Content("~/Praescio/AssignmentQuestion?assignmentId=")' + assignment;
                          }
                      });

                }).error(function (data) {
                    $scope.savingRequest = false;
                    swal({
                        title: data.Message,
                        text: "Press Ok to Continue.",
                        type: "error",
                        confirmButtonColor: "red",
                        showCancelButton: false,
                    });
                });
            }

        });
</script>
}


