@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="right_col" role="main" ng-controller="WriteReasonCtrl">
    <div class="content">


        <div class="table-agile-info1">
            <ol class="breadcrumb">
                <li><a href="lesson_index.html">Lesson</a></li>
                <li><a href="start_test.html">Start Test</a></li>
                <li class="active">Write A Reason</li>
            </ol>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Write A Reason
                    <span title="Days:Hours:Minutes" class="tools pull-right" style="font-size:12px;font-weight:600;">
                      Active Duration:
                      <span ng-if="ExamStartDateTimer == null">Not Started</span>
                      <span ng-if="ExamStartDateTimer != null">{{ ExamStartDateTimer }}</span>
                    </span>
                </div>
                <div id="tbl-questions">
                    <table class="table table-striped b-t b-light" ng-repeat="question in QuestionList">
                        <tbody>
                            <tr>
                                <th class="col-lg-3 col-md-3 col-sm-5 col-xs-12">Write reason for:</th>
                                <td class="col-lg-9 col-md-9 col-sm-7 col-xs-12">{{question.Question.Title}}</td>
                            </tr>
                            <tr>
                                <th class="col-lg-3 col-md-3 col-sm-5 col-xs-12">Answer:</th>
                                <td class="col-lg-9 col-md-9 col-sm-7 col-xs-12">
                                  <textarea name="text" id="text" ng-model="question.AttemptAnswer"></textarea>
                                
                                </td>
                            </tr>
                            @*<tr data-expanded="true">
                                <th></th>
                                <td>
                                    <a class="btn btn-success" ng-click="SaveAnswer();" ng-disabled="savingRequest">
                                        Submit
                                        <i class="fa fa-spinner fa-spin" ng-show="savingRequest"></i>
                                    </a>
                                </td>
                            </tr>*@
                        </tbody>
                    </table>
                  <a class="btn btn-success" ng-click="SaveAnswer();" ng-disabled="savingRequest">
                    Submit
                    <i class="fa fa-spinner fa-spin" ng-show="savingRequest"></i>
                  </a>
                </div>
            </div>


        </div>

    </div>
</div>
@section Scripts{

    <script type="text/javascript">

        myApp.controller('WriteReasonCtrl', function ($scope, $rootScope, $filter, NetworkService, $interval) {
            $scope.ExamStartDateTimer = "Loading...";
              NetworkService.get('PraescioCommon/GetUserAssessmentDetail?assignmentid=@ViewBag.assignmentid').success(function (data) {
                if (data != null) {
                  $interval(function () {
                    $scope.ExamStartDateTimer = GetStopWatchTime(data.ExamStartDate);
                  }, 1000);
                } else {
                  $scope.ExamStartDateTimer = null;
                }
            });

            NetworkService.get('InstitutionStudent/GetAssignmentQuestion?assignmentid=@ViewBag.Assignmentid&typeOfQuestion=@ViewBag.TypeOfQuestion').success(function (data) {
                console.log(data);
                $scope.QuestionList = data;
            });

            $scope.SaveAnswer = function () {

              $scope.savingRequest = true;

              if ($('#tbl-questions textarea').filter(function () {
                return $.trim($(this).val()).length == 0
              }).length > 0) {
                $scope.savingRequest = false;
                swal({
                  title: "Please answer all questions.",
                  text: "Press Ok to Continue.",
                  type: "error",
                  confirmButtonColor: "red",
                  showCancelButton: false,
                });
                return;
              }

                NetworkService.insert('InstitutionStudent/SaveAnswer', $scope.QuestionList).success(function (data) {
                    $scope.savingRequest = false;
                    swal({
                        title: "Answer has been successfully submitted!!!",
                        text: "Press Ok to Continue.",
                        type: "success",
                        confirmButtonColor: "green",
                        showCancelButton: false,
                        closeOnConfirm: false,
                        closeOnCancel: true
                    },
                      function (isConfirm) {
                          if (isConfirm) {
                              var assignment = '@ViewBag.Assignmentid';
                              window.location.href = '@Url.Content("~/Praescio/AssignmentQuestion?assignmentId=")' + assignment;
                          }
                      });

                }).error(function (data) {
                    $scope.savingRequest = false;
                    swal({
                        title: data.Message,
                        text: "Press Ok to Continue.",
                        type: "error",
                        confirmButtonColor: "red",
                        showCancelButton: false,
                    });
                });
            }
        });


</script>
}


