
@{
    ViewBag.Title = "AddHandwritingAssigment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="right_col" role="main">
    <div class="cont">
        <ol class="breadcrumb breadcrumb-bg-teal align-right">
            <li><a href="index.html"><i class="material-icons">home</i> Home</a></li>
            <li>Assignment</li>
        </ol>

        <div class="container-fluid">
            <!-- Vertical Layout -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Add Handwritting Assignment
                            </h2>
                        </div>
                        <div class="body">
                            <form>
                                <label for="heard">Select Standard</label>
                                <select id="heard" class="form-control" required>
                                    <option value="">Choose..</option>
                                    <option value="press">STD 1</option>
                                    <option value="net">STD 2</option>
                                    <option value="mouth">STD 3</option>
                                </select>
                                <label for="heard">Select Subject</label>
                                <select id="heard" class="form-control" required>
                                    <option value="">Choose..</option>
                                    <option value="press">Marathi</option>
                                    <option value="mouth">English</option>
                                </select>
                                <br />
                                <label for="Name Of Assignment">Name Of Assignment</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" class="form-control" placeholder="Enter Name">
                                    </div>
                                </div>
                                <label for="First Name">Upload File</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="file">
                                    </div>(* Only PDf file)
                                </div>
                                <a href="#" class="btn btn-success waves-effect">RESET</a>
                                <a href="#" class="btn btn-info waves-effect">SUBMIT</a>
                                @*<a href="handwritting.html" class="btn btn-primary waves-effect">VIEW ASSIGNMENT</a>*@

                                <br>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Vertical Layout -->

        </div>
    </div>
</div>

