
@{
    ViewBag.Title = "AddSynonyms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="right_col" role="main" ng-controller="AddSynonymsCtrl">
    <div class="">

        <div class="page-title">
            <div class="title_left">
                <h3>Dashboard</h3>
            </div>
            <div class="title_right">
                <div class="col-md-9 col-sm-9 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <ol class="breadcrumb">
                            <li><a href="@Url.Action("Dashboard", "PraescioAdmin")"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                            <li class="active">Add Synonyms</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="x_panel">
                    <div class="header">
                        <h2>
                            Add Synonyms
                        </h2>
                    </div>

                    <div class="body">
                        <form>
                            <label for="Add Word">Add Word:</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control" placeholder="Enter Word" ng-model="QuestionContent.ContentOption">
                                </div>
                            </div>
                            <label for="Add Synonyms">Add Synonyms:</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control" placeholder="Enter Synonyms" ng-model="QuestionContent.ContentAnswer">
                                </div>
                            </div>

                            <br>
                            <span class="btn btn-primary" ng-click="SaveSynonmys()" ng-disabled="savingRequest">
                                SUBMIT
                                <i class="fa fa-spinner fa-spin" ng-show="savingRequest"></i>
                            </span>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Upload Synonyms</button>
                            <button type="button" class="btn btn-primary waves-effect" data-toggle="modal" data-target="#defaultModal">View Synonyms</button>

                            <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">

                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                            <h4 class="modal-title" id="myModalLabel2">Upload CSV</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="x_content">
                                                <!-- start form for validation -->
                                                <form id="demo-form" data-parsley-validate>
                                                    <div class="form-group">
                                                        <label for="Upload File">Upload File</label>
                                                        <input type="file" name="file" class="form-control"
                                                               onchange="angular.element(this).scope().loadFile(this.files)" />
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary" ng-click="SaveFile()">Save </button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                           
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- end form for validations -->
    </div>
</div>

@section Scripts{

    <script type="text/javascript">

        myApp.controller('AddSynonymsCtrl', function ($scope, $rootScope, $filter, NetworkService) {

            $scope.QuestionContent = {};
            $scope.TitleName = 'Add Synonyms'

            $scope.SaveSynonmys = function () {
                $scope.savingRequest = true;

                var ContentViewModel = JSON.stringify([$scope.QuestionContent]);
                NetworkService.insert('PraescioCommon/SaveQuestionContent?CategoryTypeId=@Convert.ToInt16(Praescio.BusinessEntities.Common.CategoryType.Synonyms)', ContentViewModel).success(function (data) {

                    swal({
                        title: "Synonyms has been successfully saved!!!",
                        text: "Press Ok to Continue.",
                        type: "success",
                        confirmButtonColor: "green",
                        showCancelButton: false,
                    });
                    $scope.savingRequest = false;

                }).error(function (data, status) {

                });;

            }


            //LOAD SYNONYMS USING EXCEL
            $scope.selectedFile = null;
            $scope.msg = "";


            $scope.loadFile = function (files) {

                $scope.$apply(function () {

                    $scope.selectedFile = files[0];

                })

            }

            $scope.SaveFile = function () {
                var file = $scope.selectedFile;

                if (file) {

                    var reader = new FileReader();

                    reader.onload = function (e) {

                        var data = e.target.result;

                        var workbook = XLSX.read(data, { type: 'binary' });

                        var first_sheet_name = workbook.SheetNames[0];
                        var secound_sheet_name = workbook.SheetNames[1];

                        var sheet1 = XLSX.utils.sheet_to_json(workbook.Sheets[first_sheet_name]);
                        var sheet2 = XLSX.utils.sheet_to_json(workbook.Sheets[secound_sheet_name]);

                        var QuestionViewModel = [];


                        NetworkService.insert('PraescioCommon/SaveQuestionContent?categoryTypeId=@Convert.ToInt16(Praescio.BusinessEntities.Common.CategoryType.Synonyms)', sheet1).success(function (data) {
                            $('.modal').modal('toggle');
                            swal({
                                title: "Antonyms has been successfully uploaded!!!",
                                text: "Press Ok to Continue.",
                                type: "success",
                                confirmButtonColor: "green",
                                showCancelButton: false,
                            });
                        }).error(function (data, status) {

                        });;
                    }

                    reader.onerror = function (ex) {

                    }

                    reader.readAsBinaryString(file);
                }
            }


        });
    </script>
}