@{
    ViewBag.Title = "TeacherListFullVersion";
    var ContentString = ViewBag.CategoryTypeId == (int)Praescio.BusinessEntities.Common.CategoryType.Synonyms ? "Synonyms" : "Antonyms";
}

<!-- page content -->
<div class="right_col" role="main" ng-controller="ViewContentCtrl">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Dashboard</h3>
            </div>
            <div class="title_right">
                <div class="col-md-6 col-sm-6 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <ol class="breadcrumb">
                            <li><a href="@Url.Action("index", "Home")"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                            <li class="active">View Content</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>List of @ContentString</h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <table id="datatable2" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>ContentOption</th>
                                    <th>ContentAnswer</th>
                                    <th>Created By</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="content in ContentList |itemsPerPage:10|filter:searchText" total-items="totalcount">
                                    <td>{{content.ContentOption}}</td>
                                    <td>{{content.ContentAnswer}}</td>
                                    <td>{{content.CreatedAccount.FirstName}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <dir-pagination-controls max-size="10"
                                                 direction-links="true"
                                                 on-page-change="onPageChange(newPageNumber)"
                                                 boundary-links="true">
                        </dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script type="text/javascript">

        myApp.controller('ViewContentCtrl', function ($scope, $rootScope, $filter, NetworkService) {
            $scope.totalcount = 0;

            $scope.Teacher = {};
            $scope.TitleName = 'List of Content'

            NetworkService.get('PraescioCommon/GetQuestionContent?CategoryTypeId=@ViewBag.CategoryTypeId').success(function (data) {
                $scope.ContentList = data.contentData;
                $scope.totalcount = data.totalRecord;
            });

            $scope.onPageChange = function (pageno) {
                var url = '&pageNo=' + pageno + '&itemPerPage=' + $scope.itemsPerPage;

                NetworkService.get('PraescioCommon/GetQuestionContent?CategoryTypeId=@ViewBag.CategoryTypeId' + url).success(function (data) {

                    $scope.ContentList = data.contentData;
                    $scope.totalcount = data.totalRecord;
                });
            }


        });
    </script>
}