
@{
    ViewBag.Title = "ViewAssignment";
}

<h2>ViewAssignment</h2>

  <!-- page content -->
<div class="right_col" role="main" ng-controller="ViewAssignmentCtrl">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Lessons</h3>
            </div>
            <div class="title_right">
                <div class="col-md-8 col-sm-8 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <ol class="breadcrumb">
                            <li><a href="@Url.Action("Dashboard", "PraescioAdmin")"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                            <li><a href="#"><i class="fa fa-list"></i> View Lessons</a></li>
                            <li class="active">List Of Lessons</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>List Of Lessons</h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <table class="table table-bordered table-striped table-hover js-basic-example " id="myTable1" role="grid" aria-describedby="myTable_info">
                            <thead>
                                <tr role="row"><th class="sorting_desc" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" style="width: 57px;" aria-label="Standard: activate to sort column ascending" aria-sort="descending">Standard</th><th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" style="width: 47px;" aria-label="Subject: activate to sort column ascending">Subject</th><th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" style="width: 46px;" aria-label="Title: activate to sort column ascending">Title</th><th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" style="width: 137px;" aria-label="Description: activate to sort column ascending">Description</th><th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" style="width: 95px;" aria-label="View Questions: activate to sort column ascending">View Questions</th><th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" style="width: 28px;" aria-label="File: activate to sort column ascending">File</th></tr>
                            </thead>
                            <tbody>
                                <tr role="row" class="odd" dir-paginate="assignment in AssignmentList |itemsPerPage:10|filter:searchText" total-items="totalcount">
                                    <td class="sorting_1">{{assignment.Standard.StandardName}}</td>
                                    <td>{{assignment.Medium.Name}}</td>
                                    <td>{{assignment.Title}}</td>
                                    <td data-toggle="modal" data-target="#defaultModal" class="pointer">{{assignment.Description}}</td>
                                    <td><a ng-href="@Url.Content("~/Praescio/AssignmentQuestion?assignmentId="){{assignment.AssignmentId}}"><span class="badge bg-teal">View Questions</span></a></td>
                                    <td><a ng-href='~/{{assignment.UploadFileSrc}}' target="_blank">File</a></td>
                                </tr>
                            </tbody>
                        </table>
                        <dir-pagination-controls max-size="10"
                                                 direction-links="true"
                                                 on-page-change="onPageChange(newPageNumber)"
                                                 boundary-links="true">
                        </dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script type="text/javascript">


        myApp.controller('ViewAssignmentCtrl', function ($scope, $rootScope, $filter, NetworkService) {
            $scope.itemPerPage = 10;

            NetworkService.get('PraescioCommon/GetAssignmentList?assignmentFlag=@ViewBag.AssignmentFlag').success(function (data) {
                $scope.AssignmentList = data.dataContent;
                $scope.totalcount = data.totalRecord;
            });

            $scope.onPageChange = function (pageno) {
                var url = '&pageNo=' + pageno + '&itemPerPage=' + $scope.itemPerPage + '&assignmentFlag=@ViewBag.AssignmentFlag';

                NetworkService.get('PraescioCommon/GetAssignmentList?' + url).success(function (data) {
                    $scope.AssignmentList = data.dataContent;
                    $scope.totalcount = data.totalRecord;
                });
            }

        });
    </script>
}
