
@{
    ViewBag.Title = "CheckDescribeBriefly";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="right_col" role="main">
    <div class="cont">
        <ol class="breadcrumb breadcrumb-bg-teal align-right">
            <li><a href="@Url.Action("Dashboard", "InstitutionTeacher")"><i class="material-icons">home</i> Home</a></li>
            <li><a href="#">Check Assignment</a></li>
            <li>Describe Briefly </li>
        </ol>

        <div class="container-fluid">
            <!-- Vertical Layout -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Describe Briefly
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                Active: Duration : ddd:hh:mm
                            </ul>
                        </div>
                        <div class="body">
                            <div class="body table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th>Question</th>
                                            <th>Student's Answer</th>
                                            <th>Give Marks </th>

                                        </tr>
                                        <tr>
                                            <td>1. What are stages in butterfly life cycle ?</td>
                                            <td data-toggle="modal" data-target="#myModal" style="cursor:pointer;">Lorem Ipsum is simply dummy text of the printing and typesetting industry</td>
                                            <td><input type="" name="" placeholder="Enter marks"></td>
                                        </tr>
                                        <tr>
                                            <td>2. What is The Solar system ?</td>
                                            <td data-toggle="modal" data-target="#myModal" style="cursor:pointer;">Lorem Ipsum is simply dummy text of the printing and typesetting industry</td>
                                            <td><input type="" name="" placeholder="Enter marks"></td>
                                        </tr>
                                        <tr>
                                            <td>3. Why was Pinocchio not go to school ?</td>
                                            <td data-toggle="modal" data-target="#myModal" style="cursor:pointer;">Lorem Ipsum is simply dummy text of the printing and typesetting industry</td>
                                            <td><input type="" name="" placeholder="Enter marks"></td>
                                        </tr>
                                        <tr>
                                            <td><b>Total Marks</b></td>
                                            <td colspan="3"><input type="" name="" placeholder="Enter Total marks">/30</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Vertical Layout -->

        </div>
    </div>
</div>

