
@{
    ViewBag.Title = "CheckDifferentiateBetween";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="right_col" role="main">
    <div class="cont">
        <ol class="breadcrumb breadcrumb-bg-teal align-right">
            <li><a href="@Url.Action("Dashboard", "InstitutionTeacher")"><i class="material-icons">home</i> Home</a></li>
            <li><a href="#">Check Assignment</a></li>
            <li>Differentiate Between </li>
        </ol>

        <div class="container-fluid">
            <!-- Vertical Layout -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Differentiate Between
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                Active: Duration : ddd:hh:mm
                            </ul>
                        </div>
                        <div class="body">
                            <div class="body table-responsive">
                                <div>
                                    <div class="panel-body">
                                        <table class="table table-striped b-t b-light">
                                            <tbody>
                                                <tr>
                                                    <th>Difference Between</th>
                                                    <td colspan="2">Living and Nonliving Things</td>
                                                </tr>
                                                <tr>
                                                    <th>Answer</th>
                                                    <td>
                                                        <b>Living Things</b>
                                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                    </td>
                                                    <td>
                                                        <b>Non Living Things</b>
                                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>Give Marks</th>
                                                    <td colspan="2"><input type="text" name="marks" placeholder="Enter Marks"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <hr>
                                    <div class="panel-body">
                                        <table class="table table-striped b-t b-light">
                                            <tbody>
                                                <tr>
                                                    <th>Difference Between</th>
                                                    <td colspan="2">Breathing and Respiration </td>
                                                </tr>
                                                <tr>
                                                    <th>Answer</th>
                                                    <td>
                                                        <b>Breathing</b>
                                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                    </td>
                                                    <td>
                                                        <b>Respiration</b>
                                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>Give Marks</th>
                                                    <td colspan="2"><input type="text" name="marks" placeholder="Enter Marks"></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <b>Total Marks</b>
                                                    </td>
                                                    <td>
                                                        <input type="text" name="marks" placeholder="Enter Marks">/20
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <button type="button" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Vertical Layout -->

        </div>
    </div>
</div>

