
@{
    ViewBag.Title = "SchoolProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="right_col" role="main">
    <div class="cont">
        <ol class="breadcrumb breadcrumb-bg-teal align-right">
            <li><a href="@Url.Action("Dashboard", "InstitutionTeacher")"><i class="material-icons">home</i> Home</a></li>
            <li><a href="#"><i class="material-icons">library_books</i> School Profile</a></li>
        </ol>

        <div class="container-fluid">
            <!-- Media Alignment -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <div class="media">
                                <div class="media-left">
                                    <a href="javascript:void(0);">
                                        <img class="media-object" src="assets/production/images/school_icon.png" width="64" height="64">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h1>EVENSTON TOWNSHIP HIGH SCHOOL</h1>
                                </div>
                            </div>
                        </div>
                        <div class="body">
                            <div class="bs-example" data-example-id="media-alignment">
                                <div class="body table-responsive">
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <th>School Name</th>
                                                <td>Evenston Township High School</td>
                                            </tr>
                                            <tr>
                                                <th>School Registration Number</th>
                                                <td>ETH1001</td>
                                            </tr>
                                            <tr>
                                                <th>State</th>
                                                <td>Maharashtra</td>
                                            </tr>
                                            <tr>
                                                <th>City</th>
                                                <td>Pune</td>
                                            </tr>
                                            <tr>
                                                <th>Pin Code</th>
                                                <td>411004</td>
                                            </tr>
                                            <tr>
                                                <th>Address Proof</th>
                                                <td><img src="assets/production/images/ad_proof.png"</td>
                                            </tr>

                                            <tr>
                                                <th>Contract Start Date</th>
                                                <td> 21-Sept-2017</td>
                                            </tr>
                                            <tr>
                                                <th>Contract End Date</th>
                                                <td> 21-Sept-2018</td>
                                            </tr>

                                            <tr>
                                                <th>Total Count Of Allowed Students</th>
                                                <td>50</td>
                                            </tr>
                                            <tr>
                                                <th>Total Count Of Allowed Teachers</th>
                                                <td>50</td>
                                            </tr>
                                            <tr>
                                                <th>Registered Student's Count</th>
                                                <td>30</td>
                                            </tr>
                                            <tr>
                                                <th>Registered Teacher's Count</th>
                                                <td>30</td>
                                            </tr>
                                            <tr>
                                                <th>Pending Student</th>
                                                <td>20</td>
                                            </tr>
                                            <tr>
                                                <th>Pending Teacher</th>
                                                <td>20</td>
                                            </tr>

                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

