
@{
    ViewBag.Title = "StudentsDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="right_col" role="main">
    <div class="cont">
        <ol class="breadcrumb breadcrumb-bg-teal align-right">
            <li><a href="@Url.Action("Dashboard", "InstitutionTeacher")"><i class="material-icons">home</i> Home</a></li>
            <li><a href="#"><i class="material-icons">remove_red_eye</i> View Student</a></li>
            <li><i class="material-icons">details</i>Student Details</li>
        </ol>

        <div class="container-fluid">
            <!-- Striped Rows -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Student Details
                            </h2>
                        </div>
                        <div class="body table-responsive">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <th>Student Id</th>
                                        <td>STD1001</td>
                                    </tr>
                                    <tr>
                                        <th>Name</th>
                                        <td>Shreyash Joshi</td>
                                    </tr>
                                    <tr>
                                        <th>Board</th>
                                        <td>CBSE</td>
                                    </tr>
                                    <tr>
                                        <th>Standard</th>
                                        <td>5th STD</td>
                                    </tr>
                                    <tr>
                                        <th>Gender</th>
                                        <td>Male</td>
                                    </tr>
                                    <tr>
                                        <th>Medium</th>
                                        <td>English</td>
                                    </tr>
                                    <tr>
                                        <th>Contact No.</th>
                                        <td>9824567125</td>
                                    </tr>
                                    <tr>
                                        <th>Parent's Email</th>
                                        <td>ashishpatil@gmail.com</td>
                                    </tr>
                                    <tr>
                                        <th>Address</th>
                                        <td>Pune 411041</td>
                                    </tr>
                                </tbody>
                            </table>
                            <br /><br />
                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="myTable">
                                <thead>
                                    <tr>
                                        <th>Assignments</th>
                                        <th>Marathi</th>

                                        <th>English</th>
                                        <th>Total</th>
                                        <th>Percentage</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Assignments</th>
                                        <th>Marathi</th>

                                        <th>English</th>
                                        <th>Total</th>
                                        <th>Percentage</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr>
                                        <td>Asgmnt 1</td>
                                        <td>30/100</td>

                                        <td>70/100</td>
                                        <td>45/100</td>
                                        <td>50%</td>
                                    </tr>
                                    <tr>
                                        <td>Asgmnt 2</td>
                                        <td>30/100</td>

                                        <td>70/100</td>
                                        <td>45/100</td>
                                        <td>50%</td>
                                    </tr>
                                    <tr>
                                        <td>Asgmnt 3</td>
                                        <td>30/100</td>

                                        <td>70/100</td>
                                        <td>45/100</td>
                                        <td>50%</td>
                                    </tr>
                                    <tr>
                                        <td>Asgmnt 4</td>
                                        <td>30/100</td>

                                        <td>70/100</td>
                                        <td>45/100</td>
                                        <td>50%</td>
                                    </tr>
                                    <tr>
                                        <td>Asgmnt 5</td>
                                        <td>30/100</td>

                                        <td>70/100</td>
                                        <td>45/100</td>
                                        <td>50%</td>
                                    </tr>
                                    <tr>
                                        <td>Asgmnt 6</td>
                                        <td>30/100</td>

                                        <td>70/100</td>
                                        <td>45/100</td>
                                        <td>50%</td>
                                    </tr>
                                    <tr>
                                        <td>Asgmnt 7</td>
                                        <td>30/100</td>

                                        <td>70/100</td>
                                        <td>45/100</td>
                                        <td>50%</td>
                                    </tr>
                                    <tr>
                                        <td>Asgmnt 8</td>
                                        <td>30/100</td>

                                        <td>70/100</td>
                                        <td>45/100</td>
                                        <td>50%</td>
                                    </tr>
                                    <tr>
                                        <td>Asgmnt 9</td>
                                        <td>30/100</td>

                                        <td>70/100</td>
                                        <td>45/100</td>
                                        <td>50%</td>
                                    </tr>
                                    <tr>
                                        <td>Asgmnt 10</td>
                                        <td>30/100</td>

                                        <td>70/100</td>
                                        <td>45/100</td>
                                        <td>50%</td>
                                    </tr>
                                    <tr>
                                        <td>Asgmnt 11</td>
                                        <td>30/100</td>

                                        <td>70/100</td>
                                        <td>45/100</td>
                                        <td>50%</td>
                                    </tr>
                                    <tr>
                                        <td>Asgmnt 12</td>
                                        <td>30/100</td>

                                        <td>70/100</td>
                                        <td>45/100</td>
                                        <td>50%</td>
                                    </tr>
                                    <tr>
                                        <td>Asgmnt 13</td>
                                        <td>30/100</td>

                                        <td>70/100</td>
                                        <td>45/100</td>
                                        <td>50%</td>
                                    </tr>
                                    <tr>
                                        <td>Asgmnt 14</td>
                                        <td>30/100</td>

                                        <td>70/100</td>
                                        <td>45/100</td>
                                        <td>50%</td>
                                    </tr>
                                    <tr>
                                        <td>Asgmnt 15</td>
                                        <td>30/100</td>

                                        <td>70/100</td>
                                        <td>45/100</td>
                                        <td>50%</td>
                                    </tr>
                                    <tr>
                                        <td>Asgmnt 16</td>
                                        <td>30/100</td>

                                        <td>70/100</td>
                                        <td>45/100</td>
                                        <td>50%</td>
                                    </tr>
                                    <tr>
                                        <td>Asgmnt 17</td>
                                        <td>30/100</td>

                                        <td>70/100</td>
                                        <td>45/100</td>
                                        <td>50%</td>
                                    </tr>
                                    <tr>
                                        <td>Asgmnt 18</td>
                                        <td>30/100</td>

                                        <td>70/100</td>
                                        <td>45/100</td>
                                        <td>50%</td>
                                    </tr>
                                    <tr>
                                        <td>Asgmnt 19</td>
                                        <td>30/100</td>

                                        <td>70/100</td>
                                        <td>45/100</td>
                                        <td>50%</td>
                                    </tr>
                                    <tr>
                                        <td>Asgmnt 20</td>
                                        <td>30/100</td>

                                        <td>70/100</td>
                                        <td>45/100</td>
                                        <td>50%</td>
                                    </tr>
                                    <tr>
                                        <td>Asgmnt 21</td>
                                        <td>30/100</td>

                                        <td>70/100</td>
                                        <td>45/100</td>
                                        <td>50%</td>
                                    </tr>
                                    <tr>
                                        <td>Asgmnt 22</td>
                                        <td>30/100</td>

                                        <td>70/100</td>
                                        <td>45/100</td>
                                        <td>50%</td>
                                    </tr>
                                    <tr>
                                        <td>Asgmnt 23</td>
                                        <td>30/100</td>

                                        <td>70/100</td>
                                        <td>45/100</td>
                                        <td>50%</td>
                                    </tr>
                                    <tr>
                                        <td>Asgmnt 24</td>
                                        <td>30/100</td>

                                        <td>70/100</td>
                                        <td>45/100</td>
                                        <td>50%</td>
                                    </tr>
                                    <tr>
                                        <td>Asgmnt 25</td>
                                        <td>30/100</td>

                                        <td>70/100</td>
                                        <td>45/100</td>
                                        <td>50%</td>
                                    </tr>
                                    <tr>
                                        <td>Asgmnt 26</td>
                                        <td>30/100</td>

                                        <td>70/100</td>
                                        <td>45/100</td>
                                        <td>50%</td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>


                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Handwritting Assignments
                            </h2>
                        </div>
                        <div class="body table-responsive">

                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="myTable1">
                                <thead>
                                    <tr>
                                        <th>Assignments</th>
                                        <th>File</th>
                                        <th>Subject</th>
                                        <th>Write Review/Marks</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Assignments</th>
                                        <th>File</th>
                                        <th>Subject</th>
                                        <th>Write Review/Marks</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr>
                                        <td>Asgmnt 1</td>
                                        <td><a href="downloads/pdf.pdf" target="_blanck">File1</a></td>
                                        <td>English</td>
                                        <td><a href="review_details.html">Review</a></td>
                                    </tr>
                                    <tr>
                                        <td>Asgmnt 2</td>
                                        <td><a href="downloads/pdf.pdf" target="_blanck">File1</a></td>
                                        <td>English</td>
                                        <td><a href="review_details.html">Review</a></td>
                                    </tr>
                                    <tr>
                                        <td>Asgmnt 3</td>
                                        <td><a href="downloads/pdf.pdf" target="_blanck">File1</a></td>
                                        <td>English</td>
                                        <td><a href="review_details.html">Review</a></td>
                                    </tr>
                                    <tr>
                                        <td>Asgmnt 4</td>
                                        <td><a href="downloads/pdf.pdf" target="_blanck">File1</a></td>
                                        <td>English</td>
                                        <td><a href="review_details.html">Review</a></td>
                                    </tr>
                                    <tr>
                                        <td>Asgmnt 5</td>
                                        <td><a href="downloads/pdf.pdf" target="_blanck">File1</a></td>
                                        <td>English</td>
                                        <td><a href="review_details.html">Review</a></td>
                                    </tr>
                                    <tr>
                                        <td>Asgmnt 6</td>
                                        <td><a href="downloads/pdf.pdf" target="_blanck">File1</a></td>
                                        <td>English</td>
                                        <td><a href="review_details.html">Review</a></td>
                                    </tr>
                                    <tr>
                                        <td>Asgmnt 7</td>
                                        <td><a href="downloads/pdf.pdf" target="_blanck">File1</a></td>
                                        <td>English</td>
                                        <td><a href="review_details.html">Review</a></td>
                                    </tr>
                                    <tr>
                                        <td>Asgmnt 8</td>
                                        <td><a href="downloads/pdf.pdf" target="_blanck">File1</a></td>
                                        <td>English</td>
                                        <td><a href="review_details.html">Review</a></td>
                                    </tr>
                                    <tr>
                                        <td>Asgmnt 9</td>
                                        <td><a href="downloads/pdf.pdf" target="_blanck">File1</a></td>
                                        <td>English</td>
                                        <td><a href="review_details.html">Review</a></td>
                                    </tr>
                                    <tr>
                                        <td>Asgmnt 10</td>
                                        <td><a href="downloads/pdf.pdf" target="_blanck">File1</a></td>
                                        <td>English</td>
                                        <td><a href="review_details.html">Review</a></td>
                                    </tr>
                                    <tr>
                                        <td>Asgmnt 11</td>
                                        <td><a href="downloads/pdf.pdf" target="_blanck">File1</a></td>
                                        <td>English</td>
                                        <td><a href="review_details.html">Review</a></td>

                                    </tr>
                                    <tr>
                                        <td>Asgmnt 12</td>
                                        <td><a href="downloads/pdf.pdf" target="_blanck">File1</a></td>
                                        <td>English</td>
                                        <td><a href="review_details.html">Review</a></td>

                                    </tr>
                                    <tr>
                                        <td>Asgmnt 13</td>
                                        <td><a href="downloads/pdf.pdf" target="_blanck">File1</a></td>
                                        <td>English</td>
                                        <td><a href="review_details.html">Review</a></td>

                                    </tr>
                                    <tr>
                                        <td>Asgmnt 14</td>
                                        <td><a href="downloads/pdf.pdf" target="_blanck">File1</a></td>
                                        <td>English</td>
                                        <td><a href="review_details.html">Review</a></td>

                                    </tr>
                                    <tr>
                                        <td>Asgmnt 15</td>
                                        <td><a href="downloads/pdf.pdf" target="_blanck">File1</a></td>
                                        <td>English</td>
                                        <td><a href="review_details.html">Review</a></td>

                                    </tr>
                                    <tr>
                                        <td>Asgmnt 16</td>
                                        <td><a href="downloads/pdf.pdf" target="_blanck">File1</a></td>
                                        <td>English</td>
                                        <td><a href="review_details.html">Review</a></td>

                                    </tr>
                                    <tr>
                                        <td>Asgmnt 17</td>
                                        <td><a href="downloads/pdf.pdf" target="_blanck">File1</a></td>
                                        <td>English</td>
                                        <td><a href="review_details.html">Review</a></td>

                                    </tr>
                                    <tr>
                                        <td>Asgmnt 18</td>
                                        <td><a href="downloads/pdf.pdf" target="_blanck">File1</a></td>
                                        <td>English</td>
                                        <td><a href="review_details.html">Review</a></td>

                                    </tr>
                                    <tr>
                                        <td>Asgmnt 19</td>
                                        <td><a href="downloads/pdf.pdf" target="_blanck">File1</a></td>
                                        <td>English</td>
                                        <td><a href="review_details.html">Review</a></td>

                                    </tr>
                                    <tr>
                                        <td>Asgmnt 20</td>
                                        <td><a href="downloads/pdf.pdf" target="_blanck">File1</a></td>
                                        <td>English</td>
                                        <td><a href="review_details.html">Review</a></td>

                                    </tr>
                                    <tr>
                                        <td>Asgmnt 21</td>
                                        <td><a href="downloads/pdf.pdf" target="_blanck">File1</a></td>
                                        <td>English</td>
                                        <td><a href="review_details.html">Review</a></td>

                                    </tr>
                                    <tr>
                                        <td>Asgmnt 22</td>
                                        <td><a href="downloads/pdf.pdf" target="_blanck">File1</a></td>
                                        <td>English</td>
                                        <td><a href="review_details.html">Review</a></td>

                                    </tr>
                                    <tr>
                                        <td>Asgmnt 23</td>
                                        <td><a href="downloads/pdf.pdf" target="_blanck">File1</a></td>
                                        <td>English</td>
                                        <td><a href="review_details.html">Review</a></td>

                                    </tr>
                                    <tr>
                                        <td>Asgmnt 24</td>
                                        <td><a href="downloads/pdf.pdf" target="_blanck">File1</a></td>
                                        <td>English</td>
                                        <td><a href="review_details.html">Review</a></td>

                                    </tr>
                                    <tr>
                                        <td>Asgmnt 25</td>
                                        <td><a href="downloads/pdf.pdf" target="_blanck">File1</a></td>
                                        <td>English</td>
                                        <td><a href="review_details.html">Review</a></td>

                                    </tr>
                                    <tr>
                                        <td>Asgmnt 26</td>
                                        <td><a href="downloads/pdf.pdf" target="_blanck">File1</a></td>
                                        <td>English</td>
                                        <td><a href="review_details.html">Review</a></td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>


                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Pronunciation Assignments
                            </h2>
                        </div>
                        <div class="body table-responsive">

                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="myTable2">
                                <thead>
                                    <tr>
                                        <th>Assignments</th>
                                        <th>File</th>
                                        <th>Subject</th>
                                        <th>Write Review/Marks</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Assignments</th>
                                        <th>File</th>
                                        <th>Subject</th>
                                        <th>Write Review/Marks</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr>
                                        <td>Asgmnt 1</td>
                                        <td><a href="downloads/pdf.pdf" target="_blanck">File1</a></td>
                                        <td>English</td>
                                        <td><a href="pronounciation_review_details.html">Review</a></td>
                                    </tr>
                                    <tr>
                                        <td>Asgmnt 2</td>
                                        <td><a href="downloads/pdf.pdf" target="_blanck">File1</a></td>
                                        <td>English</td>
                                        <td><a href="pronounciation_review_details.html">Review</a></td>
                                    </tr>
                                    <tr>
                                        <td>Asgmnt 3</td>
                                        <td><a href="downloads/pdf.pdf" target="_blanck">File1</a></td>
                                        <td>English</td>
                                        <td><a href="pronounciation_review_details.html">Review</a></td>
                                    </tr>
                                    <tr>
                                        <td>Asgmnt 4</td>
                                        <td><a href="downloads/pdf.pdf" target="_blanck">File1</a></td>
                                        <td>English</td>
                                        <td><a href="pronounciation_review_details.html">Review</a></td>
                                    </tr>
                                    <tr>
                                        <td>Asgmnt 5</td>
                                        <td><a href="downloads/pdf.pdf" target="_blanck">File1</a></td>
                                        <td>English</td>
                                        <td><a href="pronounciation_review_details.html">Review</a></td>
                                    </tr>
                                    <tr>
                                        <td>Asgmnt 6</td>
                                        <td><a href="downloads/pdf.pdf" target="_blanck">File1</a></td>
                                        <td>English</td>
                                        <td><a href="pronounciation_review_details.html">Review</a></td>
                                    </tr>
                                    <tr>
                                        <td>Asgmnt 7</td>
                                        <td><a href="downloads/pdf.pdf" target="_blanck">File1</a></td>
                                        <td>English</td>
                                        <td><a href="pronounciation_review_details.html">Review</a></td>
                                    </tr>
                                    <tr>
                                        <td>Asgmnt 8</td>
                                        <td><a href="downloads/pdf.pdf" target="_blanck">File1</a></td>
                                        <td>English</td>
                                        <td><a href="pronounciation_review_details.html">Review</a></td>
                                    </tr>
                                    <tr>
                                        <td>Asgmnt 9</td>
                                        <td><a href="downloads/pdf.pdf" target="_blanck">File1</a></td>
                                        <td>English</td>
                                        <td><a href="pronounciation_review_details.html">Review</a></td>
                                    </tr>
                                    <tr>
                                        <td>Asgmnt 10</td>
                                        <td><a href="downloads/pdf.pdf" target="_blanck">File1</a></td>
                                        <td>English</td>
                                        <td><a href="pronounciation_review_details.html">Review</a></td>
                                    </tr>
                                    <tr>
                                        <td>Asgmnt 11</td>
                                        <td><a href="downloads/pdf.pdf" target="_blanck">File1</a></td>
                                        <td>English</td>
                                        <td><a href="pronounciation_review_details.html">Review</a></td>

                                    </tr>
                                    <tr>
                                        <td>Asgmnt 12</td>
                                        <td><a href="downloads/pdf.pdf" target="_blanck">File1</a></td>
                                        <td>English</td>
                                        <td><a href="pronounciation_review_details.html">Review</a></td>

                                    </tr>
                                    <tr>
                                        <td>Asgmnt 13</td>
                                        <td><a href="downloads/pdf.pdf" target="_blanck">File1</a></td>
                                        <td>English</td>
                                        <td><a href="pronounciation_review_details.html">Review</a></td>

                                    </tr>
                                    <tr>
                                        <td>Asgmnt 14</td>
                                        <td><a href="downloads/pdf.pdf" target="_blanck">File1</a></td>
                                        <td>English</td>
                                        <td><a href="pronounciation_review_details.html">Review</a></td>

                                    </tr>
                                    <tr>
                                        <td>Asgmnt 15</td>
                                        <td><a href="downloads/pdf.pdf" target="_blanck">File1</a></td>
                                        <td>English</td>
                                        <td><a href="pronounciation_review_details.html">Review</a></td>

                                    </tr>
                                    <tr>
                                        <td>Asgmnt 16</td>
                                        <td><a href="downloads/pdf.pdf" target="_blanck">File1</a></td>
                                        <td>English</td>
                                        <td><a href="pronounciation_review_details.html">Review</a></td>

                                    </tr>
                                    <tr>
                                        <td>Asgmnt 17</td>
                                        <td><a href="downloads/pdf.pdf" target="_blanck">File1</a></td>
                                        <td>English</td>
                                        <td><a href="pronounciation_review_details.html">Review</a></td>

                                    </tr>
                                    <tr>
                                        <td>Asgmnt 18</td>
                                        <td><a href="downloads/pdf.pdf" target="_blanck">File1</a></td>
                                        <td>English</td>
                                        <td><a href="pronounciation_review_details.html">Review</a></td>

                                    </tr>
                                    <tr>
                                        <td>Asgmnt 19</td>
                                        <td><a href="downloads/pdf.pdf" target="_blanck">File1</a></td>
                                        <td>English</td>
                                        <td><a href="pronounciation_review_details.html">Review</a></td>

                                    </tr>
                                    <tr>
                                        <td>Asgmnt 20</td>
                                        <td><a href="downloads/pdf.pdf" target="_blanck">File1</a></td>
                                        <td>English</td>
                                        <td><a href="pronounciation_review_details.html">Review</a></td>

                                    </tr>
                                    <tr>
                                        <td>Asgmnt 21</td>
                                        <td><a href="downloads/pdf.pdf" target="_blanck">File1</a></td>
                                        <td>English</td>
                                        <td><a href="pronounciation_review_details.html">Review</a></td>

                                    </tr>
                                    <tr>
                                        <td>Asgmnt 22</td>
                                        <td><a href="downloads/pdf.pdf" target="_blanck">File1</a></td>
                                        <td>English</td>
                                        <td><a href="pronounciation_review_details.html">Review</a></td>

                                    </tr>
                                    <tr>
                                        <td>Asgmnt 23</td>
                                        <td><a href="downloads/pdf.pdf" target="_blanck">File1</a></td>
                                        <td>English</td>
                                        <td><a href="pronounciation_review_details.html">Review</a></td>

                                    </tr>
                                    <tr>
                                        <td>Asgmnt 24</td>
                                        <td><a href="downloads/pdf.pdf" target="_blanck">File1</a></td>
                                        <td>English</td>
                                        <td><a href="pronounciation_review_details.html">Review</a></td>

                                    </tr>
                                    <tr>
                                        <td>Asgmnt 25</td>
                                        <td><a href="downloads/pdf.pdf" target="_blanck">File1</a></td>
                                        <td>English</td>
                                        <td><a href="pronounciation_review_details.html">Review</a></td>

                                    </tr>
                                    <tr>
                                        <td>Asgmnt 26</td>
                                        <td><a href="downloads/pdf.pdf" target="_blanck">File1</a></td>
                                        <td>English</td>
                                        <td><a href="pronounciation_review_details.html">Review</a></td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>


                    </div>
                </div>
            </div>
            <!-- #END# Striped Rows -->

        </div>

    </div>
</div>
