
@{
    ViewBag.Title = "TeacherProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="right_col" role="main" ng-controller="TeacherProfileCtrl">
    <div class="cont">
        <ol class="breadcrumb breadcrumb-bg-teal align-right">
            <li><a href="@Url.Action("Dashboard", "InstitutionTeacher")"><i class="material-icons">Home</i> Home</a></li>
            <li><i class="material-icons">library_books</i> Teacher Profile</li>
        </ol>

        <div class="container-fluid">
            <!-- Media Alignment -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>Teacher's Profile</h2>
                        </div>
                        <div class="body">
                            <div class="bs-example" data-example-id="media-alignment">
                                <div class="body table-responsive">
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <th>Teacher Id</th>
                                                <td>TCR1001</td>
                                            </tr>
                                            <tr>
                                                <th>Teacher Name</th>
                                                <td>{{Teacher.FirstName + ' ' + Teacher.LastName}}</td>
                                            </tr>
                                            <tr>
                                                <th>School Name</th>
                                                <td>{{Teacher.OrganizationAccount.InstitutionName}}</td>
                                            </tr>
                                            <tr>
                                                <th>Teacher Standard & Subjects </th>
                                                <td>
                                                    <div ng-repeat="standard in MappedStandard">
                                                        <div ng-repeat="subject in standard.SubjectName"><b>STD {{standard.StandardName}} </b>: {{subject}}<br /></div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Contact No.</th>
                                                <td>{{Teacher.MobileNo}}</td>
                                            </tr>
                                            <tr>
                                                <th>Email Id</th>
                                                <td>{{Teacher.Email}}</td>
                                            </tr>
                                            <tr>
                                                <th>Address</th>
                                                <td>{{Teacher.Address}}</td>
                                            </tr>
                                            <tr>
                                                <th>City</th>
                                                <td>{{Teacher.City}}</td>
                                            </tr>
                                            <tr>
                                                <th>State</th>
                                                <td>{{Teacher.State.StateName}}</td>
                                            </tr>
                                            <tr>
                                                <th>Pin Code</th>
                                                <td>{{Teacher.PinCode}}</td>
                                            </tr>

                                            <tr>
                                                <th>Start Date</th>
                                                <td>{{Teacher.ActivateOn}}</td>
                                            </tr>
                                            <tr>
                                                <th>End Date</th>
                                                <td>{{Teacher.ExpiredOn}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <a href="#" class="btn btn-info waves-effect">Update</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script type="text/javascript">

        myApp.controller('TeacherProfileCtrl', function ($scope, $rootScope, $filter, NetworkService) {
            $scope.itemPerPage = 10;

            NetworkService.get('PraescioCommon/GetTeacherProfile').success(function (data) {
                $scope.Teacher = data.UserDetail;
                $scope.MappedStandard = data.TeacherStandard;
                console.log(data.TeacherStandard);
            });
        });
    </script>
}


