
@{
    ViewBag.Title = "TeachersAssignment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="right_col" role="main">
    <div class="">

        <div class="page-title">
            <div class="title_left">
                <h3>Dashboard</h3>
            </div>
            <div class="title_right">
                <div class="col-md-7 col-sm-7 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <ol class="breadcrumb">
                            <li><a href="@Url.Action("Dashboard", "PraescioAdmin")"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                            <li class="active">Teacher Assignment Index </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Teacher Assignment Index</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Sr.No.</th>
                                    <th>Index</th>
                                    <th>Marks Obtained</th>
                                    <th>Out Off</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td><a href="download_assignment.html">Natural Resources - Air, water and Land</a></td>
                                    <td>47</td>
                                    <td>100</td>
                                    <td><a class="btn btn-success btn-xs">Completed</a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td><a href="download_assignment.html">The Living World</a></td>
                                    <td>50</td>
                                    <td>100</td>
                                    <td><a class="btn btn-danger btn-xs">Pending</a></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td><a href="download_assignment.html">Diversity in Living Things and their Classification</a></td>
                                    <td>67</td>
                                    <td>100</td>
                                    <td><a class="btn btn-success btn-xs">Completed</a></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td><a href="download_assignment.html">Disaster Management</a></td>
                                    <td>47</td>
                                    <td>100</td>
                                    <td><a class="btn btn-success btn-xs">Completed</a></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td><a href="download_assignment.html">Substances in the Surroundings - Their States and Properties</a></td>
                                    <td>47</td>
                                    <td>100</td>
                                    <td><a class="btn btn-success btn-xs">Completed</a></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td><a href="download_assignment.html">Substances in Daily Use</a></td>
                                    <td>47</td>
                                    <td>100</td>
                                    <td><a class="btn btn-success btn-xs">Completed</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

