
@{
    ViewBag.Title = "Standared";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="right_col" ng-controller="UserStandardCountCtrl">
    <div class="">
      
        <div class="page-title">
            <div class="title_left">
                <h3>Standards</h3>
            </div>
            <div class="title_right">
                <div class="col-md-6 col-sm-6 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <ol class="breadcrumb">
                            <li><a href="@Url.Action("Dashboard", "InstitutionAdmin")"><i class="fa fa-dashboard"></i> home</a></li>
                            <li class="active">Standards</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
            <!-- Counter Examples -->
            <div class="container-fluid">
                <div class="block-header">
                    <h2>
                        Number Of Students in Each Standard
                    </h2>
                </div>
                <div class="row">
                    <a href="select_view.html">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="info-box bg-red">
                                <div class="icon">
                                    <i class="material-icons">account_circle</i>
                                </div>
                                <div class="content">
                                    <div class="text">5th STD</div>
                                    <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">{{StandardUserCount.Fifth}}</div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="select_view.html">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="info-box bg-green">
                                <div class="icon">
                                    <i class="material-icons">account_circle</i>
                                </div>
                                <div class="content">
                                    <div class="text">6th STD</div>
                                    <div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20">{{StandardUserCount.Sixth}}</div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="select_view.html">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="info-box bg-yellow">
                                <div class="icon">
                                    <i class="material-icons">account_circle</i>
                                </div>
                                <div class="content">
                                    <div class="text">7th STD</div>
                                    <div class="number count-to" data-from="0" data-to="117" data-speed="1000" data-fresh-interval="20">{{StandardUserCount.Seventh}}</div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="select_view.html">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="info-box bg-pink">
                                <div class="icon">
                                    <i class="material-icons">account_circle</i>
                                </div>
                                <div class="content">
                                    <div class="text">8th STD</div>
                                    <div class="number count-to" data-from="0" data-to="1432" data-speed="1500" data-fresh-interval="20">{{StandardUserCount.Eight}}</div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="select_view.html">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="info-box bg-teal">
                                <div class="icon">
                                    <i class="material-icons">account_circle</i>
                                </div>
                                <div class="content">
                                    <div class="text">9th STD</div>
                                    <div class="number count-to" data-from="0" data-to="1432" data-speed="1500" data-fresh-interval="20">{{StandardUserCount.Nineth}}</div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="select_view.html">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="info-box bg-blue">
                                <div class="icon">
                                    <i class="material-icons">account_circle</i>
                                </div>
                                <div class="content">
                                    <div class="text">10th STD</div>
                                    <div class="number count-to" data-from="0" data-to="1432" data-speed="1500" data-fresh-interval="20">{{StandardUserCount.Tenth}}</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- #END# Counter Examples -->
            </div>

        
        </div>
    </div>


@section Scripts{

    <script type="text/javascript">


        myApp.controller('UserStandardCountCtrl', function ($scope, $rootScope, $filter, NetworkService) {

            NetworkService.get('InstitutionAdmin/GetStandardUserCount').success(function (data) {
                $scope.StandardUserCount = data;
            });
          
        });
    </script>
}