
@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
  h4 {display: inline-block}
</style>

<div class="right_col" role="main">
    <div class="content">


        <ol class="breadcrumb breadcrumb-bg-teal1 align-right">
            <li><a href="index.html"><i class="material-icons">home</i> Home</a></li>
            <li><a href="help.html">Help</a></li>
        </ol>

        <div class="container-fluid">
            <!-- Media Alignment -->
            <div class="card">
                <div class="row clearfix">
                    <div class="body">

                        @*<div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12">
                            <form role="form">
                                <div class="form-group">
                                    <label for="Send To">Send To:</label>
                                    <select class="form-control m-bot15">
                                        <option>Choose..</option>
                                        <option>Praescio Admin</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="Message">Message:</label>
                                    <textarea class="form-control"></textarea>
                                </div>
                                <button type="submit" class="btn btn-info">Send Message</button>
                            </form>
                        </div>
                        </hr>*@


                        <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12">
                            <div class="panel-group" id="accordion_10" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-col-cyan">
                                    <div class="panel-heading" role="tab" id="headingOne_10">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion_10" href="#collapseOne_10" aria-expanded="true" aria-controls="collapseOne_10">
                                                1. Registration
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne_10" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne_10">
                                        <div class="panel-body">
                                            <p>Why should I register with Praescio?</p>
                                            <p>Praescio helps you find the right job matching your aspirations. Registering with Praescio enables you to: </p>
                                            <p>1-  Access and apply in one-click</p>
                                            <p>2-  Store and access your Resume online</p>
                                            <p>3-  Get your CV viewed by over many recruiters who will contact you with un-advertised jobs.</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-col-cyan">
                                    <div class="panel-heading" role="tab" id="headingTwo_10">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_10" href="#collapseTwo_10" aria-expanded="false"
                                               aria-controls="collapseTwo_10">
                                                2. Curabitur et diam vitae dolor accumsan aliquet et in massa.
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo_10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo_10">
                                        <div class="panel-body">
                                            <p>Nulla facilisi. Proin sodales dolor in odio lacinia, ut venenatis massa lobortis. Morbi congue dignissim nisi gravida consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed egestas diam. Nunc ut mauris tempus, rutrum massa vel, pellentesque velit. Nullam eget diam sit amet diam pretium scelerisque. Nunc sed odio nisi. Nunc odio est, rhoncus vitae risus a, sagittis ultrices mauris. Fusce scelerisque posuere pulvinar.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-col-cyan">
                                    <div class="panel-heading" role="tab" id="headingThree_10">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_10" href="#collapseThree_10" aria-expanded="false"
                                               aria-controls="collapseThree_10">
                                                3. Proin faucibus sem sed dapibus dapibus.
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree_10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree_10">
                                        <div class="panel-body">
                                            <p>Praesent ultricies risus quis magna convallis, ac condimentum tellus laoreet. Donec dictum velit enim, nec hendrerit leo mattis sit amet.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-col-cyan">
                                    <div class="panel-heading" role="tab" id="headingThree_10">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_10" href="#collapseThree_10" aria-expanded="false"
                                               aria-controls="collapseThree_10">
                                                4. Praesent lobortis urna non est faucibus, vestibulum mattis diam sollicitudin.
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree_10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree_10">
                                        <div class="panel-body">
                                            <p>Fusce eget ultricies ante. In augue urna, rhoncus ac tellus non, porta malesuada magna. Nulla tincidunt orci in metus rhoncus, at malesuada quam varius. Mauris sed tincidunt massa, ut cursus magna. Pellentesque cursus sapien turpis, id blandit magna tempus at.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

