
@{
    ViewBag.Title = "ViewVideo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="right_col" role="main">
    <div class="cont">

        <ol class="breadcrumb breadcrumb-bg-teal align-right">
            <li><a href="index.html"><i class="material-icons">home</i> Home</a></li>
            <li><a href="view_question.html">view Questions </a></li>
            <li>View Video</li>
        </ol>

        <div class="container-fluid">
            <!-- Vertical Layout -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                View Video
                            </h2>
                        </div>
                        <div class="body">
                            <div class="body table-responsive">

                                <div class="panel-body">
                                    <table class="table table-striped b-t b-light">
                                        <tbody>
                                            <tr>
                                                <th>Title:</th>
                                                <td>The Living World</td>
                                            </tr>
                                            <tr>
                                                <th>Video</th>
                                                <td>
                                                    <iframe width="520" height="315"
                                                            src="https://www.youtube.com/embed/XGSy3_Czz8k"></iframe>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Vertical Layout -->

        </div>
    </div>
</div>
