
@{
    ViewBag.Title = "ViewHandwritingAssigment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="right_col" role="main">
    <div class="content">
        <ol class="breadcrumb align-right">
            <li><a href="index.html"><i class="material-icons">home</i> Home</a></li>
            <li><i class="material-icons">account_balance</i> Handwritting Assignment </li>
        </ol>
        <div class="container-fluid">

            <!-- Basic Examples -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Handwritting Assignment
                            </h2>
                        </div>
                        <div class="body">

                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="myTable">
                                    <thead>
                                        <tr>
                                            <th>Name Of Assignment</th>
                                            <th>Teacher name</th>
                                            <th>Date</th>
                                            <th>File</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Name Of Assignment</th>
                                            <th>Teacher name</th>
                                            <th>Date</th>
                                            <th>File</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr>
                                            <td>Essay on Prime Minister</td>
                                            <td>Akshay Sane</td>
                                            <td>26-Sept-2017</td>
                                            <td><a href="downloads/pdf.pdf">File1</a></td>
                                        </tr>
                                        <tr>
                                            <td>Essay on Prime Minister</td>
                                            <td>Akshay Sane</td>
                                            <td>26-Sept-2017</td>
                                            <td><a href="downloads/pdf.pdf">File1</a></td>
                                        </tr>
                                        <tr>
                                            <td>Essay on Prime Minister</td>
                                            <td>Akshay Sane</td>
                                            <td>26-Sept-2017</td>
                                            <td><a href="downloads/pdf.pdf">File1</a></td>
                                        </tr>
                                        <tr>
                                            <td>Essay on Prime Minister</td>
                                            <td>Akshay Sane</td>
                                            <td>26-Sept-2017</td>
                                            <td><a href="downloads/pdf.pdf">File1</a></td>
                                        </tr>
                                        <tr>
                                            <td>Essay on Prime Minister</td>
                                            <td>Akshay Sane</td>
                                            <td>26-Sept-2017</td>
                                            <td><a href="downloads/pdf.pdf">File1</a></td>
                                        </tr>
                                        <tr>
                                            <td>Essay on Prime Minister</td>
                                            <td>Akshay Sane</td>
                                            <td>26-Sept-2017</td>
                                            <td><a href="downloads/pdf.pdf">File1</a></td>
                                        </tr>
                                        <tr>
                                            <td>Essay on Prime Minister</td>
                                            <td>Akshay Sane</td>
                                            <td>26-Sept-2017</td>
                                            <td><a href="downloads/pdf.pdf">File1</a></td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Basic Examples -->

        </div>
    </div>
</div>

